info:
  title: Autumn API
  version: 2.3.0
servers:
  - url: https://api.useautumn.com
    description: Production server
openapi: 3.1.0
components:
  schemas:
    CustomerExpand:
      enum:
        - invoices
        - trials_used
        - rewards
        - entities
        - referrals
        - payment_method
        - subscriptions.plan
        - purchases.plan
        - balances.feature
        - flags.feature
        - billing_controls.auto_topups.purchase_limit
      type: string
      title: CustomerExpand
    Plan:
      type: object
      properties:
        id:
          type: string
          description: Unique identifier for the plan.
        name:
          type: string
          description: Display name of the plan.
        description:
          anyOf:
            - type: string
            - type: "null"
          description: Optional description of the plan.
        group:
          anyOf:
            - type: string
            - type: "null"
          description: Group identifier for organizing related plans. Plans in the same group are mutually exclusive.
        version:
          type: number
          description: Version number of the plan. Incremented when plan configuration changes.
        add_on:
          type: boolean
          description: Whether this is an add-on plan that can be attached alongside a main plan.
        auto_enable:
          type: boolean
          description: If true, this plan is automatically attached when a customer is created. Used for free plans.
        price:
          anyOf:
            - type: object
              properties:
                amount:
                  type: number
                  description: Base price amount for the plan.
                interval:
                  enum:
                    - one_off
                    - week
                    - month
                    - quarter
                    - semi_annual
                    - year
                  type: string
                  description: Billing interval (e.g. 'month', 'year').
                interval_count:
                  type: number
                  description: Number of intervals per billing cycle. Defaults to 1.
                display:
                  type: object
                  properties:
                    primary_text:
                      type: string
                      description: Main display text (e.g. '$10' or '100 messages').
                    secondary_text:
                      type: string
                      description: Secondary display text (e.g. 'per month' or 'then $0.5 per 100').
                  required:
                    - primary_text
                  description: Display text for showing this price in pricing pages.
              required:
                - amount
                - interval
            - type: "null"
          description: Base recurring price for the plan. Null for free plans or usage-only plans.
        items:
          type: array
          items:
            type: object
            properties:
              feature_id:
                type: string
                description: The ID of the feature this item configures.
              feature:
                type: object
                properties:
                  id:
                    type: string
                    description: The ID of the feature, used to refer to it in other API calls like /track or /check.
                  name:
                    anyOf:
                      - type: string
                      - type: "null"
                    description: The name of the feature.
                  type:
                    enum:
                      - static
                      - boolean
                      - single_use
                      - continuous_use
                      - credit_system
                    type: string
                    description: The type of the feature
                  display:
                    anyOf:
                      - type: object
                        properties:
                          singular:
                            type: string
                            description: The singular display name for the feature.
                          plural:
                            type: string
                            description: The plural display name for the feature.
                        required:
                          - singular
                          - plural
                      - type: "null"
                    description: Singular and plural display names for the feature.
                  credit_schema:
                    anyOf:
                      - type: array
                        items:
                          type: object
                          properties:
                            metered_feature_id:
                              type: string
                              description: The ID of the metered feature (should be a single_use feature).
                            credit_cost:
                              type: number
                              description: The credit cost of the metered feature.
                          required:
                            - metered_feature_id
                            - credit_cost
                      - type: "null"
                    description: Credit cost schema for credit system features.
                  archived:
                    anyOf:
                      - type: boolean
                      - type: "null"
                    description: Whether or not the feature is archived.
                required:
                  - id
                  - type
                description: The full feature object if expanded.
              included:
                type: number
                description: Number of free units included. For consumable features, balance resets to this number each interval.
              unlimited:
                type: boolean
                description: Whether the customer has unlimited access to this feature.
              reset:
                anyOf:
                  - type: object
                    properties:
                      interval:
                        enum:
                          - one_off
                          - minute
                          - hour
                          - day
                          - week
                          - month
                          - quarter
                          - semi_annual
                          - year
                        type: string
                        description: The interval at which the feature balance resets (e.g. 'month', 'year'). For consumable features, usage resets to 0 and included units are restored.
                      interval_count:
                        type: number
                        description: Number of intervals between resets. Defaults to 1.
                    required:
                      - interval
                  - type: "null"
                description: Reset configuration for consumable features. Null for non-consumable features like seats where usage persists across billing cycles.
              price:
                anyOf:
                  - type: object
                    properties:
                      amount:
                        type: number
                        description: Price per billing_units after included usage is consumed. Mutually exclusive with tiers.
                      tiers:
                        type: array
                        items:
                          anyOf:
                            - {}
                            - type: "null"
                        description: Tiered pricing configuration. Each tier's 'to' INCLUDES the included amount. Either 'tiers' or 'amount' is required.
                      tier_behavior:
                        enum:
                          - graduated
                          - volume
                        type: string
                      interval:
                        enum:
                          - one_off
                          - week
                          - month
                          - quarter
                          - semi_annual
                          - year
                        type: string
                        description: Billing interval for this price. For consumable features, should match reset.interval.
                      interval_count:
                        type: number
                        description: Number of intervals per billing cycle. Defaults to 1.
                      billing_units:
                        type: number
                        description: Number of units per price increment. Usage is rounded UP to the nearest billing_units when billed (e.g. billing_units=100 means 101 usage rounds to 200).
                      billing_method:
                        enum:
                          - prepaid
                          - usage_based
                        type: string
                        description: "'prepaid' for features like seats where customers pay upfront, 'usage_based' for pay-as-you-go after included usage."
                      max_purchase:
                        anyOf:
                          - type: number
                          - type: "null"
                        description: Maximum units a customer can purchase beyond included. E.g. if included=100 and max_purchase=300, customer can use up to 400 total before usage is capped. Null for no limit.
                    required:
                      - interval
                      - billing_units
                      - billing_method
                      - max_purchase
                  - type: "null"
                description: Pricing configuration for usage beyond included units. Null if feature is entirely free.
              display:
                type: object
                properties:
                  primary_text:
                    type: string
                    description: Main display text (e.g. '$10' or '100 messages').
                  secondary_text:
                    type: string
                    description: Secondary display text (e.g. 'per month' or 'then $0.5 per 100').
                required:
                  - primary_text
                description: Display text for showing this item in pricing pages.
              rollover:
                type: object
                properties:
                  max:
                    anyOf:
                      - type: number
                      - type: "null"
                    description: Maximum rollover units. Null for unlimited rollover.
                  max_percentage:
                    anyOf:
                      - type: number
                      - type: "null"
                    description: Maximum rollover as a percentage (0-100) of included + prepaid grant. Mutually exclusive with max.
                  expiry_duration_type:
                    enum:
                      - month
                      - forever
                    type: string
                    description: When rolled over units expire.
                  expiry_duration_length:
                    type: number
                    description: Number of periods before expiry.
                required:
                  - max
                  - expiry_duration_type
                description: Rollover configuration for unused units. If set, unused included units roll over to the next period.
            required:
              - feature_id
              - included
              - unlimited
              - reset
              - price
          description: Feature configurations included in this plan. Each item defines included units, pricing, and reset behavior for a feature.
        free_trial:
          type: object
          properties:
            duration_length:
              type: number
              description: Number of duration_type periods the trial lasts.
            duration_type:
              enum:
                - day
                - month
                - year
              type: string
              description: Unit of time for the trial duration ('day', 'month', 'year').
            card_required:
              type: boolean
              description: Whether a payment method is required to start the trial. If true, customer will be charged after trial ends.
            on_end:
              anyOf:
                - enum:
                    - bill
                    - revert
                  type: string
                - type: "null"
              description: Behavior when the trial ends. 'bill' charges the customer (default). 'revert' expires the trial and restores the customer's previous plan.
          required:
            - duration_length
            - duration_type
            - card_required
          description: Free trial configuration. If set, new customers can try this plan before being charged.
        created_at:
          type: number
          description: Unix timestamp (ms) when the plan was created.
        env:
          enum:
            - sandbox
            - live
          type: string
          description: Environment this plan belongs to ('sandbox' or 'live').
        archived:
          type: boolean
          description: Whether the plan is archived. Archived plans cannot be attached to new customers.
        base_variant_id:
          anyOf:
            - type: string
            - type: "null"
          description: If this is a variant, the ID of the base plan it was created from.
        config:
          type: object
          properties:
            ignore_past_due:
              type: boolean
              default: false
              description: If true, entitlements attached to this plan will still reset on schedule even when the customer's product is in a past_due state.
          description: Miscellaneous plan-level configuration flags.
        customer_eligibility:
          type: object
          properties:
            trial_available:
              type: boolean
              description: Whether the trial on this plan is available to this customer. For example, if the customer used the trial in the past, this will be false.
            status:
              enum:
                - active
                - scheduled
              type: string
              description: The customer's current status with this plan. 'active' if attached, 'scheduled' if pending activation.
            canceling:
              type: boolean
              description: Whether the customer's active instance of this plan is set to cancel.
            trialing:
              type: boolean
              description: Whether the customer is currently on a free trial of this plan.
            attach_action:
              enum:
                - activate
                - upgrade
                - downgrade
                - none
                - purchase
              type: string
              description: The action that would occur if this plan were attached to the customer.
          required:
            - attach_action
      required:
        - id
        - name
        - description
        - group
        - version
        - add_on
        - auto_enable
        - price
        - items
        - created_at
        - env
        - archived
        - base_variant_id
        - config
    Balance:
      type: object
      properties:
        feature_id:
          type: string
          description: The feature ID this balance is for.
        feature:
          type: object
          properties:
            id:
              type: string
              description: The unique identifier for this feature, used in /check and /track calls.
            name:
              type: string
              description: Human-readable name displayed in the dashboard and billing UI.
            type:
              enum:
                - boolean
                - metered
                - credit_system
              type: string
              description: "Feature type: 'boolean' for on/off access, 'metered' for usage-tracked features, 'credit_system' for unified credit pools."
            consumable:
              type: boolean
              description: "For metered features: true if usage resets periodically (API calls, credits), false if allocated persistently (seats, storage)."
            event_names:
              type: array
              items:
                type: string
              description: Event names that trigger this feature's balance. Allows multiple features to respond to a single event.
            credit_schema:
              type: array
              items:
                type: object
                properties:
                  metered_feature_id:
                    type: string
                    description: ID of the metered feature that draws from this credit system.
                  credit_cost:
                    type: number
                    description: Credits consumed per unit of the metered feature.
                required:
                  - metered_feature_id
                  - credit_cost
              description: "For credit_system features: maps metered features to their credit costs."
            display:
              type: object
              properties:
                singular:
                  anyOf:
                    - type: string
                    - type: "null"
                  description: Singular form for UI display (e.g., 'API call', 'seat').
                plural:
                  anyOf:
                    - type: string
                    - type: "null"
                  description: Plural form for UI display (e.g., 'API calls', 'seats').
              description: Display names for the feature in billing UI and customer-facing components.
            archived:
              type: boolean
              description: Whether the feature is archived and hidden from the dashboard.
          required:
            - id
            - name
            - type
            - consumable
            - archived
          description: The full feature object if expanded.
        granted:
          type: number
          description: Total balance granted (included + prepaid).
        remaining:
          type: number
          minimum: 0
          description: Remaining balance available for use.
        usage:
          type: number
          description: Total usage consumed in the current period.
        unlimited:
          type: boolean
          description: Whether this feature has unlimited usage.
        overage_allowed:
          type: boolean
          description: Whether usage beyond the granted balance is allowed (with overage charges).
        max_purchase:
          anyOf:
            - type: number
            - type: "null"
          description: Maximum quantity that can be purchased as a top-up, or null for unlimited.
        next_reset_at:
          anyOf:
            - type: number
            - type: "null"
          description: Timestamp when the balance will reset, or null for no reset.
        breakdown:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
                default: ""
                description: The unique identifier for this balance breakdown.
              plan_id:
                anyOf:
                  - type: string
                  - type: "null"
                description: The plan ID this balance originates from, or null for standalone balances.
              included_grant:
                type: number
                description: Amount granted from the plan's included usage.
              prepaid_grant:
                type: number
                description: Amount granted from prepaid purchases or top-ups.
              remaining:
                type: number
                description: Remaining balance available for use.
              usage:
                type: number
                description: Amount consumed in the current period.
              unlimited:
                type: boolean
                description: Whether this balance has unlimited usage.
              reset:
                anyOf:
                  - type: object
                    properties:
                      interval:
                        anyOf:
                          - enum:
                              - one_off
                              - minute
                              - hour
                              - day
                              - week
                              - month
                              - quarter
                              - semi_annual
                              - year
                            type: string
                          - const: multiple
                        description: The reset interval (hour, day, week, month, etc.) or 'multiple' if combined from different intervals.
                      interval_count:
                        type: number
                        description: Number of intervals between resets (eg. 2 for bi-monthly).
                      resets_at:
                        anyOf:
                          - type: number
                          - type: "null"
                        description: Timestamp when the balance will next reset.
                    required:
                      - interval
                      - resets_at
                  - type: "null"
                description: Reset configuration for this balance, or null if no reset.
              price:
                anyOf:
                  - type: object
                    properties:
                      amount:
                        type: number
                        description: The per-unit price amount.
                      tiers:
                        type: array
                        items:
                          anyOf:
                            - {}
                            - type: "null"
                        description: Tiered pricing configuration if applicable.
                      tier_behavior:
                        enum:
                          - graduated
                          - volume
                        type: string
                        description: "How tiers are applied: graduated (split across bands) or volume (flat rate for the matched tier)."
                      billing_units:
                        type: number
                        description: The number of units per billing increment (eg. $9 / 250 units).
                      billing_method:
                        enum:
                          - prepaid
                          - usage_based
                        type: string
                        description: Whether usage is prepaid or billed pay-per-use.
                      max_purchase:
                        anyOf:
                          - type: number
                          - type: "null"
                        description: Maximum quantity that can be purchased, or null for unlimited.
                    required:
                      - billing_units
                      - billing_method
                      - max_purchase
                  - type: "null"
                description: Pricing configuration if this balance has usage-based pricing.
              expires_at:
                anyOf:
                  - type: number
                  - type: "null"
                description: Timestamp when this balance expires, or null for no expiration.
            required:
              - plan_id
              - included_grant
              - prepaid_grant
              - remaining
              - usage
              - unlimited
              - reset
              - price
              - expires_at
          description: Detailed breakdown of balance sources when stacking multiple plans or grants.
        rollovers:
          type: array
          items:
            type: object
            properties:
              balance:
                type: number
                description: Amount of balance rolled over from a previous period.
              expires_at:
                type: number
                description: Timestamp when the rollover balance expires.
            required:
              - balance
              - expires_at
          description: Rollover balances carried over from previous periods.
      required:
        - feature_id
        - granted
        - remaining
        - usage
        - unlimited
        - overage_allowed
        - max_purchase
        - next_reset_at
      examples:
        - feature_id: messages
          granted: 100
          remaining: 72
          usage: 28
          unlimited: false
          overage_allowed: false
          max_purchase: null
          next_reset_at: 1773851121437
          breakdown:
            - id: cus_ent_39qmLooixXLAqMywgXywjAz96rV
              plan_id: pro_plan
              included_grant: 100
              prepaid_grant: 0
              remaining: 72
              usage: 28
              unlimited: false
              reset:
                interval: month
                resets_at: 1773851121437
              price: null
              expires_at: null
  securitySchemes:
    secretKey:
      type: http
      scheme: bearer
      bearerFormat: JWT
paths:
  /v1/customers.get:
    post:
      operationId: getCustomer
      description: >-
        Fetches a customer by ID, optionally expanding related data such as invoices or entities.


        Use this when you know the customer exists or assert they exist without creating them.
      tags:
        - customers
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                customer_id:
                  type: string
                  title: CustomerId
                  description: ID of the customer to fetch
                expand:
                  type: array
                  items:
                    $ref: "#/components/schemas/CustomerExpand"
                  description: Expand related customer data like invoices or entities, or expand nested objects like balances.feature, flags.feature, subscriptions.plan, and purchases.plan.
              required:
                - customer_id
              title: GetCustomerParams
              examples:
                - customer_id: cus_123
                - customer_id: cus_123
                  expand:
                    - invoices
                    - entities
            example:
              customer_id: cus_123
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    anyOf:
                      - type: string
                      - type: "null"
                    description: Your unique identifier for the customer.
                  name:
                    anyOf:
                      - type: string
                      - type: "null"
                    description: The name of the customer.
                  email:
                    anyOf:
                      - type: string
                      - type: "null"
                    description: The email address of the customer.
                  created_at:
                    type: number
                    description: Timestamp of customer creation in milliseconds since epoch.
                  fingerprint:
                    anyOf:
                      - type: string
                      - type: "null"
                    description: "A unique identifier (eg. serial number) to de-duplicate customers across devices or browsers. For example: apple device ID."
                  stripe_id:
                    anyOf:
                      - type: string
                      - type: "null"
                    description: Stripe customer ID.
                  env:
                    enum:
                      - sandbox
                      - live
                    type: string
                    description: The environment this customer was created in.
                  metadata:
                    type: object
                    propertyNames: {}
                    additionalProperties: {}
                    description: The metadata for the customer.
                  send_email_receipts:
                    type: boolean
                    description: Whether to send email receipts to the customer.
                  billing_controls:
                    type: object
                    properties:
                      auto_topups:
                        type: array
                        items:
                          type: object
                          properties:
                            feature_id:
                              type: string
                              description: The ID of the feature (credit balance) to auto top-up.
                            enabled:
                              type: boolean
                              default: false
                              description: Whether auto top-up is enabled.
                            threshold:
                              type: number
                              minimum: 0
                              description: When the balance drops below this threshold, an auto top-up will be purchased.
                            quantity:
                              type: number
                              minimum: 1
                              description: Amount of credits to add per auto top-up.
                            purchase_limit:
                              anyOf:
                                - type: object
                                  properties:
                                    interval:
                                      enum:
                                        - hour
                                        - day
                                        - week
                                        - month
                                      type: string
                                      description: The time interval for the purchase limit window.
                                    interval_count:
                                      type: number
                                      minimum: 1
                                      default: 1
                                      description: Number of intervals in the purchase limit window.
                                    limit:
                                      type: number
                                      minimum: 1
                                      description: Maximum number of auto top-ups allowed within the interval.
                                  required:
                                    - interval
                                    - limit
                                - type: object
                                  properties:
                                    interval:
                                      anyOf:
                                        - enum:
                                            - hour
                                            - day
                                            - week
                                            - month
                                          type: string
                                        - type: "null"
                                      description: The time interval for the purchase limit window. Null when no purchase limit is configured.
                                    interval_count:
                                      anyOf:
                                        - type: number
                                          minimum: 1
                                        - type: "null"
                                      description: Number of intervals in the purchase limit window. Null when no purchase limit is configured.
                                    limit:
                                      anyOf:
                                        - type: number
                                          minimum: 1
                                        - type: "null"
                                      description: Maximum number of auto top-ups allowed within the interval. Null when no purchase limit is configured.
                                    count:
                                      type: number
                                      description: Number of auto top-ups already consumed in the current window.
                                    next_reset_at:
                                      type: number
                                      description: Unix ms timestamp when the current purchase window ends and the count resets.
                                  required:
                                    - interval
                                    - interval_count
                                    - limit
                                    - count
                                    - next_reset_at
                              description: Optional rate limit to cap how often auto top-ups occur. Expand billing_controls.auto_topups.purchase_limit for a count of top ups and the next_reset_at.
                            invoice_mode:
                              type: boolean
                              description: When true, auto top-up creates a send_invoice invoice instead of auto-charging.
                          required:
                            - feature_id
                            - threshold
                            - quantity
                        description: List of auto top-up configurations per feature.
                      spend_limits:
                        type: array
                        items:
                          type: object
                          properties:
                            feature_id:
                              type: string
                              description: Optional feature ID this spend limit applies to.
                            enabled:
                              type: boolean
                              default: false
                              description: Whether this spend limit is enabled.
                            overage_limit:
                              type: number
                              minimum: 0
                              description: Maximum allowed overage spend for the target feature.
                        description: List of overage spend limits per feature.
                      usage_alerts:
                        type: array
                        items:
                          type: object
                          properties:
                            feature_id:
                              type: string
                              description: The feature ID this alert applies to.
                            enabled:
                              type: boolean
                              default: true
                              description: Whether this usage alert is enabled.
                            threshold:
                              type: number
                              minimum: 0
                              description: The threshold value that triggers the alert. For usage or remaining, this is an absolute count. For usage_percentage or remaining_percentage, this is a percentage (0-100).
                            threshold_type:
                              enum:
                                - usage
                                - usage_percentage
                                - remaining
                                - remaining_percentage
                              type: string
                              description: Whether the threshold is an absolute count or a percentage of the usage allowance or remaining balance.
                            name:
                              type: string
                              description: Optional user-defined label to distinguish multiple alerts on the same feature.
                          required:
                            - threshold
                            - threshold_type
                        description: List of usage alert configurations per feature.
                      overage_allowed:
                        type: array
                        items:
                          type: object
                          properties:
                            feature_id:
                              type: string
                              description: The feature ID this overage allowed control applies to.
                            enabled:
                              type: boolean
                              default: false
                              description: Whether overage is allowed for this feature.
                          required:
                            - feature_id
                        description: List of overage allowed controls per feature. When enabled, usage can exceed balance.
                    description: Billing controls for the customer (auto top-ups, etc.)
                  subscriptions:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          description: The unique identifier of this subscription. If a subscription_id was provided at attach time, it is used; otherwise, falls back to the internal ID.
                        plan:
                          $ref: "#/components/schemas/Plan"
                          description: The full plan object if expanded.
                        plan_id:
                          type: string
                          description: The unique identifier of the subscribed plan.
                        auto_enable:
                          type: boolean
                          description: Whether the plan was automatically enabled for the customer.
                        add_on:
                          type: boolean
                          description: Whether this is an add-on plan rather than a base subscription.
                        status:
                          enum:
                            - active
                            - scheduled
                          type: string
                          description: Current status of the subscription.
                        past_due:
                          type: boolean
                          description: Whether the subscription has overdue payments.
                        canceled_at:
                          anyOf:
                            - type: number
                            - type: "null"
                          description: Timestamp when the subscription was canceled, or null if not canceled.
                        expires_at:
                          anyOf:
                            - type: number
                            - type: "null"
                          description: Timestamp when the subscription will expire, or null if no expiry set.
                        trial_ends_at:
                          anyOf:
                            - type: number
                            - type: "null"
                          description: Timestamp when the trial period ends, or null if not on trial.
                        started_at:
                          type: number
                          description: Timestamp when the subscription started.
                        current_period_start:
                          anyOf:
                            - type: number
                            - type: "null"
                          description: Start timestamp of the current billing period.
                        current_period_end:
                          anyOf:
                            - type: number
                            - type: "null"
                          description: End timestamp of the current billing period.
                        quantity:
                          type: number
                          description: Number of units of this subscription (for per-seat plans).
                      required:
                        - id
                        - plan_id
                        - auto_enable
                        - add_on
                        - status
                        - past_due
                        - canceled_at
                        - expires_at
                        - trial_ends_at
                        - started_at
                        - current_period_start
                        - current_period_end
                        - quantity
                    description: Active and scheduled recurring plans that this customer has attached.
                  purchases:
                    type: array
                    items:
                      type: object
                      properties:
                        plan:
                          $ref: "#/components/schemas/Plan"
                          description: The full plan object if expanded.
                        plan_id:
                          type: string
                          description: The unique identifier of the purchased plan.
                        expires_at:
                          anyOf:
                            - type: number
                            - type: "null"
                          description: Timestamp when the purchase expires, or null for lifetime access.
                        started_at:
                          type: number
                          description: Timestamp when the purchase was made.
                        quantity:
                          type: number
                          description: Number of units purchased.
                      required:
                        - plan_id
                        - expires_at
                        - started_at
                        - quantity
                    description: One-time purchases made by the customer.
                  balances:
                    type: object
                    propertyNames:
                      type: string
                    additionalProperties:
                      $ref: "#/components/schemas/Balance"
                    description: Feature balances keyed by feature ID, showing usage limits and remaining amounts.
                  flags:
                    type: object
                    propertyNames:
                      type: string
                    additionalProperties:
                      type: object
                      properties:
                        id:
                          type: string
                          description: The unique identifier for this flag.
                        plan_id:
                          anyOf:
                            - type: string
                            - type: "null"
                          description: The plan ID this flag originates from, or null for standalone flags.
                        expires_at:
                          anyOf:
                            - type: number
                            - type: "null"
                          description: Timestamp when this flag expires, or null for no expiration.
                        feature_id:
                          type: string
                          description: The feature ID this flag is for.
                        feature:
                          type: object
                          properties:
                            id:
                              type: string
                              description: The unique identifier for this feature, used in /check and /track calls.
                            name:
                              type: string
                              description: Human-readable name displayed in the dashboard and billing UI.
                            type:
                              enum:
                                - boolean
                                - metered
                                - credit_system
                              type: string
                              description: "Feature type: 'boolean' for on/off access, 'metered' for usage-tracked features, 'credit_system' for unified credit pools."
                            consumable:
                              type: boolean
                              description: "For metered features: true if usage resets periodically (API calls, credits), false if allocated persistently (seats, storage)."
                            event_names:
                              type: array
                              items:
                                type: string
                              description: Event names that trigger this feature's balance. Allows multiple features to respond to a single event.
                            credit_schema:
                              type: array
                              items:
                                type: object
                                properties:
                                  metered_feature_id:
                                    type: string
                                    description: ID of the metered feature that draws from this credit system.
                                  credit_cost:
                                    type: number
                                    description: Credits consumed per unit of the metered feature.
                                required:
                                  - metered_feature_id
                                  - credit_cost
                              description: "For credit_system features: maps metered features to their credit costs."
                            display:
                              type: object
                              properties:
                                singular:
                                  anyOf:
                                    - type: string
                                    - type: "null"
                                  description: Singular form for UI display (e.g., 'API call', 'seat').
                                plural:
                                  anyOf:
                                    - type: string
                                    - type: "null"
                                  description: Plural form for UI display (e.g., 'API calls', 'seats').
                              description: Display names for the feature in billing UI and customer-facing components.
                            archived:
                              type: boolean
                              description: Whether the feature is archived and hidden from the dashboard.
                          required:
                            - id
                            - name
                            - type
                            - consumable
                            - archived
                          description: The full feature object if expanded.
                      required:
                        - id
                        - plan_id
                        - expires_at
                        - feature_id
                      examples:
                        - id: cus_ent_39qmLooixXLAqMywgXywjAz96rV
                          plan_id: pro_plan
                          expires_at: null
                          feature_id: dashboard
                    description: Boolean feature flags keyed by feature ID, showing enabled access for on/off features.
                  config:
                    type: object
                    properties:
                      disable_pooled_balance:
                        type: boolean
                        description: Whether to disable the shared customer-level pool for entities.
                    description: Configuration for the customer.
                  processors:
                    type: object
                    properties:
                      stripe:
                        type: object
                        properties:
                          id:
                            type: string
                            description: Stripe customer ID.
                        required:
                          - id
                        description: Stripe processor connection for the customer.
                      vercel:
                        type: object
                        properties:
                          installation_id:
                            type: string
                            description: Vercel marketplace installation ID for this customer.
                          account_id:
                            type: string
                            description: Vercel account ID associated with the installation.
                        required:
                          - installation_id
                          - account_id
                        description: Vercel processor connection for the customer (public-safe subset).
                      revenuecat:
                        type: object
                        properties:
                          id:
                            anyOf:
                              - type: string
                              - type: "null"
                            description: Customer's external ID, used as the RevenueCat app user ID. Null if the customer has no external ID set.
                        required:
                          - id
                        description: RevenueCat processor connection for the customer.
                    description: Payment processors this customer is connected to (Stripe, Vercel, RevenueCat). Omitted entirely when the customer has not been created in any processor.
                  invoices:
                    type: array
                    items:
                      type: object
                      properties:
                        plan_ids:
                          type: array
                          items:
                            type: string
                          description: Array of plan IDs included in this invoice
                        stripe_id:
                          type: string
                          description: The Stripe invoice ID
                        processor_type:
                          enum:
                            - stripe
                            - revenuecat
                          type: string
                          default: stripe
                          description: The billing processor that owns this invoice.
                        status:
                          type: string
                          description: The status of the invoice
                        total:
                          type: number
                          description: The total amount of the invoice
                        currency:
                          type: string
                          description: The currency code for the invoice
                        created_at:
                          type: number
                          description: Timestamp when the invoice was created
                        hosted_invoice_url:
                          anyOf:
                            - type: string
                            - type: "null"
                          description: URL to the Stripe-hosted invoice page
                      required:
                        - plan_ids
                        - stripe_id
                        - status
                        - total
                        - currency
                        - created_at
                    description: Invoices for this customer.
                  entities:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          anyOf:
                            - type: string
                            - type: "null"
                          description: The unique identifier of the entity
                        name:
                          anyOf:
                            - type: string
                            - type: "null"
                          description: The name of the entity
                        customer_id:
                          anyOf:
                            - type: string
                            - type: "null"
                          description: The customer ID this entity belongs to
                        feature_id:
                          anyOf:
                            - type: string
                            - type: "null"
                          description: The feature ID this entity belongs to
                        created_at:
                          type: number
                          description: Unix timestamp when the entity was created
                        env:
                          enum:
                            - sandbox
                            - live
                          type: string
                          description: The environment (sandbox/live)
                      required:
                        - id
                        - name
                        - created_at
                        - env
                    description: Entities associated with this customer.
                  trials_used:
                    type: array
                    items:
                      type: object
                      properties:
                        plan_id:
                          type: string
                        customer_id:
                          type: string
                        fingerprint:
                          anyOf:
                            - type: string
                            - type: "null"
                      required:
                        - plan_id
                        - customer_id
                    description: Trial usage history for this customer.
                  rewards:
                    anyOf:
                      - type: object
                        properties:
                          discounts:
                            type: array
                            items:
                              type: object
                              properties:
                                id:
                                  type: string
                                  description: The unique identifier for this discount
                                name:
                                  type: string
                                  description: The name of the discount or coupon
                                type:
                                  enum:
                                    - percentage_discount
                                    - fixed_discount
                                    - free_product
                                    - invoice_credits
                                    - feature_grant
                                  type: string
                                  description: The type of reward
                                discount_value:
                                  type: number
                                  description: The discount value (percentage or fixed amount)
                                duration_type:
                                  enum:
                                    - one_off
                                    - months
                                    - forever
                                  type: string
                                  description: How long the discount lasts
                                duration_value:
                                  anyOf:
                                    - type: number
                                    - type: "null"
                                  description: Number of billing periods the discount applies for repeating durations
                                currency:
                                  anyOf:
                                    - type: string
                                    - type: "null"
                                  description: The currency code for fixed amount discounts
                                start:
                                  anyOf:
                                    - type: number
                                    - type: "null"
                                  description: Timestamp when the discount becomes active
                                end:
                                  anyOf:
                                    - type: number
                                    - type: "null"
                                  description: Timestamp when the discount expires
                                subscription_id:
                                  anyOf:
                                    - type: string
                                    - type: "null"
                                  description: The Stripe subscription ID this discount is applied to
                                total_discount_amount:
                                  anyOf:
                                    - type: number
                                    - type: "null"
                                  description: Total amount saved from this discount
                              required:
                                - id
                                - name
                                - type
                                - discount_value
                                - duration_type
                            description: Array of active discounts applied to the customer
                        required:
                          - discounts
                      - type: "null"
                    description: Rewards earned or applied for this customer.
                  referrals:
                    type: array
                    items:
                      type: object
                      properties:
                        program_id:
                          type: string
                        customer:
                          type: object
                          properties:
                            id:
                              type: string
                            name:
                              anyOf:
                                - type: string
                                - type: "null"
                            email:
                              anyOf:
                                - type: string
                                - type: "null"
                          required:
                            - id
                        reward_applied:
                          type: boolean
                        created_at:
                          type: number
                      required:
                        - program_id
                        - customer
                        - reward_applied
                        - created_at
                    description: Referral records for this customer.
                  payment_method:
                    anyOf:
                      - {}
                      - type: "null"
                    description: The customer's default payment method.
                required:
                  - id
                  - name
                  - email
                  - created_at
                  - fingerprint
                  - stripe_id
                  - env
                  - metadata
                  - send_email_receipts
                  - billing_controls
                  - subscriptions
                  - purchases
                  - balances
                  - flags
                examples:
                  - id: 2ee25a41-0d81-4ad2-8451-ec1aadaefe58
                    name: Patrick
                    email: patrick@useautumn.com
                    createdAt: 1771409161016
                    fingerprint: null
                    stripeId: cus_U0BKxpq1mFhuJO
                    processors:
                      stripe:
                        id: cus_U0BKxpq1mFhuJO
                    env: sandbox
                    metadata: {}
                    sendEmailReceipts: false
                    billingControls:
                      autoTopups: []
                    subscriptions:
                      - planId: pro_plan
                        autoEnable: true
                        addOn: false
                        status: active
                        pastDue: false
                        canceledAt: null
                        expiresAt: null
                        trialEndsAt: null
                        startedAt: 1771431921437
                        currentPeriodStart: 1771431921437
                        currentPeriodEnd: 1771999921437
                        quantity: 1
                    purchases: []
                    balances:
                      messages:
                        featureId: messages
                        granted: 100
                        remaining: 0
                        usage: 100
                        unlimited: false
                        overageAllowed: false
                        maxPurchase: null
                        nextResetAt: 1773851121437
                        breakdown:
                          - id: cus_ent_39qmLooixXLAqMywgXywjAz96rV
                            planId: pro_plan
                            includedGrant: 100
                            prepaidGrant: 0
                            remaining: 0
                            usage: 100
                            unlimited: false
                            reset:
                              interval: month
                              resetsAt: 1773851121437
                            price: null
                            expiresAt: null
                    flags:
                      advanced_workflows:
                        id: cus_ent_abc123
                        plan_id: pro_plan
                        expires_at: null
                        feature_id: advanced_workflows
                    config:
                      disable_pooled_balance: false
              example:
                id: 2ee25a41-0d81-4ad2-8451-ec1aadaefe58
                name: Patrick
                email: patrick@useautumn.com
                createdAt: 1771409161016
                fingerprint: null
                stripeId: cus_U0BKxpq1mFhuJO
                processors:
                  stripe:
                    id: cus_U0BKxpq1mFhuJO
                env: sandbox
                metadata: {}
                sendEmailReceipts: false
                billingControls:
                  autoTopups: []
                subscriptions:
                  - planId: pro_plan
                    autoEnable: true
                    addOn: false
                    status: active
                    pastDue: false
                    canceledAt: null
                    expiresAt: null
                    trialEndsAt: null
                    startedAt: 1771431921437
                    currentPeriodStart: 1771431921437
                    currentPeriodEnd: 1771999921437
                    quantity: 1
                purchases: []
                balances:
                  messages:
                    featureId: messages
                    granted: 100
                    remaining: 0
                    usage: 100
                    unlimited: false
                    overageAllowed: false
                    maxPurchase: null
                    nextResetAt: 1773851121437
                    breakdown:
                      - id: cus_ent_39qmLooixXLAqMywgXywjAz96rV
                        planId: pro_plan
                        includedGrant: 100
                        prepaidGrant: 0
                        remaining: 0
                        usage: 100
                        unlimited: false
                        reset:
                          interval: month
                          resetsAt: 1773851121437
                        price: null
                        expiresAt: null
                flags:
                  advanced_workflows:
                    id: cus_ent_abc123
                    plan_id: pro_plan
                    expires_at: null
                    feature_id: advanced_workflows
                config:
                  disable_pooled_balance: false
      x-speakeasy-name-override: get
      parameters:
        - name: x-api-version
          in: header
          required: true
          schema:
            type: string
            default: 2.3.0
          x-speakeasy-globals-hidden: true
      x-speakeasy-mcp:
        name: get_customer
        title: Get customer
        readOnlyHint: true
        destructiveHint: false
        description: Get one Autumn customer by customer ID, with optional expanded fields.
      x-autumn-scopes:
        - customers:read
  /v1/customers.list:
    post:
      operationId: listCustomers
      description: 'Lists customers with cursor pagination and optional filters. Pass `start_cursor: ""` (or omit) for the first page; use `next_cursor` from a prior response for subsequent pages.'
      tags:
        - customers
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                start_cursor:
                  type: string
                  default: ""
                  description: Opaque pagination cursor. Empty string (default) requests the first page; use next_cursor from a prior response for subsequent pages.
                limit:
                  type: integer
                  minimum: 1
                  maximum: 5000
                  default: 50
                  description: Number of items to return. Default 50, hard ceiling 5000.
                plans:
                  type: array
                  items:
                    type: object
                    properties:
                      id:
                        type: string
                      versions:
                        type: array
                        items:
                          type: number
                    required:
                      - id
                  description: Filter by plan ID and version. Returns customers with active subscriptions to this plan.
                subscription_status:
                  enum:
                    - active
                    - scheduled
                  type: string
                  description: Filter by customer product status. Defaults to active and scheduled.
                search:
                  type: string
                  description: Search customers by id, name, or email.
                processors:
                  type: array
                  items:
                    enum:
                      - stripe
                      - revenuecat
                      - vercel
                    type: string
                  description: Filter by customer processor type (stripe, revenuecat, vercel).
              title: ListCustomersParams
              examples:
                - start_cursor: ""
                  limit: 10
            example:
              start_cursor: ""
              limit: 10
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  list:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          anyOf:
                            - type: string
                            - type: "null"
                          description: Your unique identifier for the customer.
                        name:
                          anyOf:
                            - type: string
                            - type: "null"
                          description: The name of the customer.
                        email:
                          anyOf:
                            - type: string
                            - type: "null"
                          description: The email address of the customer.
                        created_at:
                          type: number
                          description: Timestamp of customer creation in milliseconds since epoch.
                        fingerprint:
                          anyOf:
                            - type: string
                            - type: "null"
                          description: "A unique identifier (eg. serial number) to de-duplicate customers across devices or browsers. For example: apple device ID."
                        stripe_id:
                          anyOf:
                            - type: string
                            - type: "null"
                          description: Stripe customer ID.
                        env:
                          enum:
                            - sandbox
                            - live
                          type: string
                          description: The environment this customer was created in.
                        metadata:
                          type: object
                          propertyNames: {}
                          additionalProperties: {}
                          description: The metadata for the customer.
                        send_email_receipts:
                          type: boolean
                          description: Whether to send email receipts to the customer.
                        billing_controls:
                          type: object
                          properties:
                            auto_topups:
                              type: array
                              items:
                                type: object
                                properties:
                                  feature_id:
                                    type: string
                                    description: The ID of the feature (credit balance) to auto top-up.
                                  enabled:
                                    type: boolean
                                    default: false
                                    description: Whether auto top-up is enabled.
                                  threshold:
                                    type: number
                                    minimum: 0
                                    description: When the balance drops below this threshold, an auto top-up will be purchased.
                                  quantity:
                                    type: number
                                    minimum: 1
                                    description: Amount of credits to add per auto top-up.
                                  purchase_limit:
                                    anyOf:
                                      - type: object
                                        properties:
                                          interval:
                                            enum:
                                              - hour
                                              - day
                                              - week
                                              - month
                                            type: string
                                            description: The time interval for the purchase limit window.
                                          interval_count:
                                            type: number
                                            minimum: 1
                                            default: 1
                                            description: Number of intervals in the purchase limit window.
                                          limit:
                                            type: number
                                            minimum: 1
                                            description: Maximum number of auto top-ups allowed within the interval.
                                        required:
                                          - interval
                                          - limit
                                      - type: object
                                        properties:
                                          interval:
                                            anyOf:
                                              - enum:
                                                  - hour
                                                  - day
                                                  - week
                                                  - month
                                                type: string
                                              - type: "null"
                                            description: The time interval for the purchase limit window. Null when no purchase limit is configured.
                                          interval_count:
                                            anyOf:
                                              - type: number
                                                minimum: 1
                                              - type: "null"
                                            description: Number of intervals in the purchase limit window. Null when no purchase limit is configured.
                                          limit:
                                            anyOf:
                                              - type: number
                                                minimum: 1
                                              - type: "null"
                                            description: Maximum number of auto top-ups allowed within the interval. Null when no purchase limit is configured.
                                          count:
                                            type: number
                                            description: Number of auto top-ups already consumed in the current window.
                                          next_reset_at:
                                            type: number
                                            description: Unix ms timestamp when the current purchase window ends and the count resets.
                                        required:
                                          - interval
                                          - interval_count
                                          - limit
                                          - count
                                          - next_reset_at
                                    description: Optional rate limit to cap how often auto top-ups occur. Expand billing_controls.auto_topups.purchase_limit for a count of top ups and the next_reset_at.
                                  invoice_mode:
                                    type: boolean
                                    description: When true, auto top-up creates a send_invoice invoice instead of auto-charging.
                                required:
                                  - feature_id
                                  - threshold
                                  - quantity
                              description: List of auto top-up configurations per feature.
                            spend_limits:
                              type: array
                              items:
                                type: object
                                properties:
                                  feature_id:
                                    type: string
                                    description: Optional feature ID this spend limit applies to.
                                  enabled:
                                    type: boolean
                                    default: false
                                    description: Whether this spend limit is enabled.
                                  overage_limit:
                                    type: number
                                    minimum: 0
                                    description: Maximum allowed overage spend for the target feature.
                              description: List of overage spend limits per feature.
                            usage_alerts:
                              type: array
                              items:
                                type: object
                                properties:
                                  feature_id:
                                    type: string
                                    description: The feature ID this alert applies to.
                                  enabled:
                                    type: boolean
                                    default: true
                                    description: Whether this usage alert is enabled.
                                  threshold:
                                    type: number
                                    minimum: 0
                                    description: The threshold value that triggers the alert. For usage or remaining, this is an absolute count. For usage_percentage or remaining_percentage, this is a percentage (0-100).
                                  threshold_type:
                                    enum:
                                      - usage
                                      - usage_percentage
                                      - remaining
                                      - remaining_percentage
                                    type: string
                                    description: Whether the threshold is an absolute count or a percentage of the usage allowance or remaining balance.
                                  name:
                                    type: string
                                    description: Optional user-defined label to distinguish multiple alerts on the same feature.
                                required:
                                  - threshold
                                  - threshold_type
                              description: List of usage alert configurations per feature.
                            overage_allowed:
                              type: array
                              items:
                                type: object
                                properties:
                                  feature_id:
                                    type: string
                                    description: The feature ID this overage allowed control applies to.
                                  enabled:
                                    type: boolean
                                    default: false
                                    description: Whether overage is allowed for this feature.
                                required:
                                  - feature_id
                              description: List of overage allowed controls per feature. When enabled, usage can exceed balance.
                          description: Billing controls for the customer (auto top-ups, etc.)
                        subscriptions:
                          type: array
                          items:
                            type: object
                            properties:
                              id:
                                type: string
                                description: The unique identifier of this subscription. If a subscription_id was provided at attach time, it is used; otherwise, falls back to the internal ID.
                              plan:
                                $ref: "#/components/schemas/Plan"
                                description: The full plan object if expanded.
                              plan_id:
                                type: string
                                description: The unique identifier of the subscribed plan.
                              auto_enable:
                                type: boolean
                                description: Whether the plan was automatically enabled for the customer.
                              add_on:
                                type: boolean
                                description: Whether this is an add-on plan rather than a base subscription.
                              status:
                                enum:
                                  - active
                                  - scheduled
                                type: string
                                description: Current status of the subscription.
                              past_due:
                                type: boolean
                                description: Whether the subscription has overdue payments.
                              canceled_at:
                                anyOf:
                                  - type: number
                                  - type: "null"
                                description: Timestamp when the subscription was canceled, or null if not canceled.
                              expires_at:
                                anyOf:
                                  - type: number
                                  - type: "null"
                                description: Timestamp when the subscription will expire, or null if no expiry set.
                              trial_ends_at:
                                anyOf:
                                  - type: number
                                  - type: "null"
                                description: Timestamp when the trial period ends, or null if not on trial.
                              started_at:
                                type: number
                                description: Timestamp when the subscription started.
                              current_period_start:
                                anyOf:
                                  - type: number
                                  - type: "null"
                                description: Start timestamp of the current billing period.
                              current_period_end:
                                anyOf:
                                  - type: number
                                  - type: "null"
                                description: End timestamp of the current billing period.
                              quantity:
                                type: number
                                description: Number of units of this subscription (for per-seat plans).
                            required:
                              - id
                              - plan_id
                              - auto_enable
                              - add_on
                              - status
                              - past_due
                              - canceled_at
                              - expires_at
                              - trial_ends_at
                              - started_at
                              - current_period_start
                              - current_period_end
                              - quantity
                          description: Active and scheduled recurring plans that this customer has attached.
                        purchases:
                          type: array
                          items:
                            type: object
                            properties:
                              plan:
                                $ref: "#/components/schemas/Plan"
                                description: The full plan object if expanded.
                              plan_id:
                                type: string
                                description: The unique identifier of the purchased plan.
                              expires_at:
                                anyOf:
                                  - type: number
                                  - type: "null"
                                description: Timestamp when the purchase expires, or null for lifetime access.
                              started_at:
                                type: number
                                description: Timestamp when the purchase was made.
                              quantity:
                                type: number
                                description: Number of units purchased.
                            required:
                              - plan_id
                              - expires_at
                              - started_at
                              - quantity
                          description: One-time purchases made by the customer.
                        balances:
                          type: object
                          propertyNames:
                            type: string
                          additionalProperties:
                            $ref: "#/components/schemas/Balance"
                          description: Feature balances keyed by feature ID, showing usage limits and remaining amounts.
                        flags:
                          type: object
                          propertyNames:
                            type: string
                          additionalProperties:
                            type: object
                            properties:
                              id:
                                type: string
                                description: The unique identifier for this flag.
                              plan_id:
                                anyOf:
                                  - type: string
                                  - type: "null"
                                description: The plan ID this flag originates from, or null for standalone flags.
                              expires_at:
                                anyOf:
                                  - type: number
                                  - type: "null"
                                description: Timestamp when this flag expires, or null for no expiration.
                              feature_id:
                                type: string
                                description: The feature ID this flag is for.
                              feature:
                                type: object
                                properties:
                                  id:
                                    type: string
                                    description: The unique identifier for this feature, used in /check and /track calls.
                                  name:
                                    type: string
                                    description: Human-readable name displayed in the dashboard and billing UI.
                                  type:
                                    enum:
                                      - boolean
                                      - metered
                                      - credit_system
                                    type: string
                                    description: "Feature type: 'boolean' for on/off access, 'metered' for usage-tracked features, 'credit_system' for unified credit pools."
                                  consumable:
                                    type: boolean
                                    description: "For metered features: true if usage resets periodically (API calls, credits), false if allocated persistently (seats, storage)."
                                  event_names:
                                    type: array
                                    items:
                                      type: string
                                    description: Event names that trigger this feature's balance. Allows multiple features to respond to a single event.
                                  credit_schema:
                                    type: array
                                    items:
                                      type: object
                                      properties:
                                        metered_feature_id:
                                          type: string
                                          description: ID of the metered feature that draws from this credit system.
                                        credit_cost:
                                          type: number
                                          description: Credits consumed per unit of the metered feature.
                                      required:
                                        - metered_feature_id
                                        - credit_cost
                                    description: "For credit_system features: maps metered features to their credit costs."
                                  display:
                                    type: object
                                    properties:
                                      singular:
                                        anyOf:
                                          - type: string
                                          - type: "null"
                                        description: Singular form for UI display (e.g., 'API call', 'seat').
                                      plural:
                                        anyOf:
                                          - type: string
                                          - type: "null"
                                        description: Plural form for UI display (e.g., 'API calls', 'seats').
                                    description: Display names for the feature in billing UI and customer-facing components.
                                  archived:
                                    type: boolean
                                    description: Whether the feature is archived and hidden from the dashboard.
                                required:
                                  - id
                                  - name
                                  - type
                                  - consumable
                                  - archived
                                description: The full feature object if expanded.
                            required:
                              - id
                              - plan_id
                              - expires_at
                              - feature_id
                            examples:
                              - id: cus_ent_39qmLooixXLAqMywgXywjAz96rV
                                plan_id: pro_plan
                                expires_at: null
                                feature_id: dashboard
                          description: Boolean feature flags keyed by feature ID, showing enabled access for on/off features.
                        config:
                          type: object
                          properties:
                            disable_pooled_balance:
                              type: boolean
                              description: Whether to disable the shared customer-level pool for entities.
                          description: Configuration for the customer.
                        processors:
                          type: object
                          properties:
                            stripe:
                              type: object
                              properties:
                                id:
                                  type: string
                                  description: Stripe customer ID.
                              required:
                                - id
                              description: Stripe processor connection for the customer.
                            vercel:
                              type: object
                              properties:
                                installation_id:
                                  type: string
                                  description: Vercel marketplace installation ID for this customer.
                                account_id:
                                  type: string
                                  description: Vercel account ID associated with the installation.
                              required:
                                - installation_id
                                - account_id
                              description: Vercel processor connection for the customer (public-safe subset).
                            revenuecat:
                              type: object
                              properties:
                                id:
                                  anyOf:
                                    - type: string
                                    - type: "null"
                                  description: Customer's external ID, used as the RevenueCat app user ID. Null if the customer has no external ID set.
                              required:
                                - id
                              description: RevenueCat processor connection for the customer.
                          description: Payment processors this customer is connected to (Stripe, Vercel, RevenueCat). Omitted entirely when the customer has not been created in any processor.
                      required:
                        - id
                        - name
                        - email
                        - created_at
                        - fingerprint
                        - stripe_id
                        - env
                        - metadata
                        - send_email_receipts
                        - billing_controls
                        - subscriptions
                        - purchases
                        - balances
                        - flags
                      examples:
                        - id: 2ee25a41-0d81-4ad2-8451-ec1aadaefe58
                          name: Patrick
                          email: patrick@useautumn.com
                          createdAt: 1771409161016
                          fingerprint: null
                          stripeId: cus_U0BKxpq1mFhuJO
                          processors:
                            stripe:
                              id: cus_U0BKxpq1mFhuJO
                          env: sandbox
                          metadata: {}
                          sendEmailReceipts: false
                          billingControls:
                            autoTopups: []
                          subscriptions:
                            - planId: pro_plan
                              autoEnable: true
                              addOn: false
                              status: active
                              pastDue: false
                              canceledAt: null
                              expiresAt: null
                              trialEndsAt: null
                              startedAt: 1771431921437
                              currentPeriodStart: 1771431921437
                              currentPeriodEnd: 1771999921437
                              quantity: 1
                          purchases: []
                          balances:
                            messages:
                              featureId: messages
                              granted: 100
                              remaining: 0
                              usage: 100
                              unlimited: false
                              overageAllowed: false
                              maxPurchase: null
                              nextResetAt: 1773851121437
                              breakdown:
                                - id: cus_ent_39qmLooixXLAqMywgXywjAz96rV
                                  planId: pro_plan
                                  includedGrant: 100
                                  prepaidGrant: 0
                                  remaining: 0
                                  usage: 100
                                  unlimited: false
                                  reset:
                                    interval: month
                                    resetsAt: 1773851121437
                                  price: null
                                  expiresAt: null
                          flags:
                            advanced_workflows:
                              id: cus_ent_abc123
                              plan_id: pro_plan
                              expires_at: null
                              feature_id: advanced_workflows
                          config:
                            disable_pooled_balance: false
                    description: Items for current page.
                  next_cursor:
                    anyOf:
                      - type: string
                      - type: "null"
                    description: Opaque cursor for the next page. Null when there are no more results.
                required:
                  - list
                  - next_cursor
                examples:
                  - list:
                      - id: 2ee25a41-0d81-4ad2-8451-ec1aadaefe58
                        name: Patrick
                        email: patrick@useautumn.com
                        createdAt: 1771409161016
                        fingerprint: null
                        stripeId: cus_U0BKxpq1mFhuJO
                        processors:
                          stripe:
                            id: cus_U0BKxpq1mFhuJO
                        env: sandbox
                        metadata: {}
                        sendEmailReceipts: false
                        billingControls:
                          autoTopups: []
                        subscriptions:
                          - planId: pro_plan
                            autoEnable: true
                            addOn: false
                            status: active
                            pastDue: false
                            canceledAt: null
                            expiresAt: null
                            trialEndsAt: null
                            startedAt: 1771431921437
                            currentPeriodStart: 1771431921437
                            currentPeriodEnd: 1771999921437
                            quantity: 1
                        purchases: []
                        balances:
                          messages:
                            featureId: messages
                            granted: 100
                            remaining: 0
                            usage: 100
                            unlimited: false
                            overageAllowed: false
[...]
