/*
 * Code generated by Speakeasy (https://speakeasy.com). DO NOT EDIT.
 */

import * as z from "zod/v4-mini";
import { AutumnCore } from "../core.js";
import { encodeJSON, encodeSimple } from "../lib/encodings.js";
import * as M from "../lib/matchers.js";
import { compactMap } from "../lib/primitives.js";
import { safeParse } from "../lib/schemas.js";
import { RequestOptions } from "../lib/sdks.js";
import { extractSecurity, resolveGlobalSecurity } from "../lib/security.js";
import { pathToFunc } from "../lib/url.js";
import { AutumnError } from "../models/autumn-error.js";
import {
  ConnectionError,
  InvalidRequestError,
  RequestAbortedError,
  RequestTimeoutError,
  UnexpectedClientError,
} from "../models/http-client-errors.js";
import * as models from "../models/index.js";
import { ResponseValidationError } from "../models/response-validation-error.js";
import { SDKValidationError } from "../models/sdk-validation-error.js";
import { APICall, APIPromise } from "../types/async.js";
import { Result } from "../types/fp.js";

/**
 * Update a plan
 *
 * @remarks
 * Updates an existing plan. Creates a new version unless `disableVersion` is set.
 *
 * Use this to modify plan properties, pricing, or feature configurations. See [Adding features to plans](/documentation/pricing/plan-features) for item configuration.
 *
 * @example
 * ```typescript
 * // Update plan name and price
 * const response = await client.plans.update({ planId: "pro_plan", name: "Pro Plan (Updated)", price: {"amount":15,"interval":"month"} });
 * ```
 *
 * @example
 * ```typescript
 * // Add a feature to an existing plan
 * const response = await client.plans.update({ planId: "pro_plan", items: [{"featureId":"messages","included":1000,"reset":{"interval":"month"}},{"featureId":"storage","included":10,"reset":{"interval":"month"}}] });
 * ```
 *
 * @example
 * ```typescript
 * // Remove the base price (make usage-only)
 * const response = await client.plans.update({ planId: "pro_plan", price: null });
 * ```
 *
 * @example
 * ```typescript
 * // Archive a plan
 * const response = await client.plans.update({ planId: "old_plan", archived: true });
 * ```
 *
 * @example
 * ```typescript
 * // Update feature's included amount
 * const response = await client.plans.update({ planId: "pro_plan", items: [{"featureId":"messages","included":2000,"reset":{"interval":"month"}}] });
 * ```
 *
 * @param planId - The ID of the plan to update.
 * @param group - Group identifier for organizing related plans. Plans in the same group are mutually exclusive. (optional)
 * @param name - Display name of the plan. (optional)
 * @param addOn - Whether the plan is an add-on. (optional)
 * @param autoEnable - Whether the plan is automatically enabled. (optional)
 * @param price - The price of the plan. Set to null to remove the base price. (optional)
 * @param items - Feature configurations for this plan. Each item defines included units, pricing, and reset behavior. (optional)
 * @param freeTrial - The free trial of the plan. Set to null to remove the free trial. (optional)
 * @param newPlanId - The new ID to use for the plan. Can only be updated if the plan has not been used by any customers. (optional)
 *
 * @returns The updated plan object.
 */
export function plansUpdate(
  client: AutumnCore,
  request: models.UpdatePlanParams,
  options?: RequestOptions,
): APIPromise<
  Result<
    models.UpdatePlanResponse,
    | AutumnError
    | ResponseValidationError
    | ConnectionError
    | RequestAbortedError
    | RequestTimeoutError
    | InvalidRequestError
    | UnexpectedClientError
    | SDKValidationError
  >
> {
  return new APIPromise($do(
    client,
    request,
    options,
  ));
}

async function $do(
  client: AutumnCore,
  request: models.UpdatePlanParams,
  options?: RequestOptions,
): Promise<
  [
    Result<
      models.UpdatePlanResponse,
      | AutumnError
      | ResponseValidationError
      | ConnectionError
      | RequestAbortedError
      | RequestTimeoutError
      | InvalidRequestError
      | UnexpectedClientError
      | SDKValidationError
    >,
    APICall,
  ]
> {
  const parsed = safeParse(
    request,
    (value) => z.parse(models.UpdatePlanParams$outboundSchema, value),
    "Input validation failed",
  );
  if (!parsed.ok) {
    return [parsed, { status: "invalid" }];
  }
  const payload = parsed.value;
  const body = encodeJSON("body", payload, { explode: true });

  const path = pathToFunc("/v1/plans.update")();

  const headers = new Headers(compactMap({
    "Content-Type": "application/json",
    Accept: "application/json",
    "x-api-version": encodeSimple(
      "x-api-version",
      client._options.xApiVersion,
      { explode: false, charEncoding: "none" },
    ),
  }));

  const secConfig = await extractSecurity(client._options.secretKey);
  const securityInput = secConfig == null ? {} : { secretKey: secConfig };
  const requestSecurity = resolveGlobalSecurity(securityInput);

  const context = {
    options: client._options,
    baseURL: options?.serverURL ?? client._baseURL ?? "",
    operationID: "updatePlan",
    oAuth2Scopes: null,

    resolvedSecurity: requestSecurity,

    securitySource: client._options.secretKey,
    retryConfig: options?.retries
      || client._options.retryConfig
      || { strategy: "none" },
    retryCodes: options?.retryCodes || ["429", "500", "502", "503", "504"],
  };

  const requestRes = client._createRequest(context, {
    security: requestSecurity,
    method: "POST",
    baseURL: options?.serverURL,
    path: path,
    headers: headers,
    body: body,
    userAgent: client._options.userAgent,
    timeoutMs: options?.timeoutMs || client._options.timeoutMs || -1,
  }, options);
  if (!requestRes.ok) {
    return [requestRes, { status: "invalid" }];
  }
  const req = requestRes.value;

  const doResult = await client._do(req, {
    context,
    errorCodes: ["4XX", "5XX"],
    retryConfig: context.retryConfig,
    retryCodes: context.retryCodes,
  });
  if (!doResult.ok) {
    return [doResult, { status: "request-error", request: req }];
  }
  const response = doResult.value;

  const [result] = await M.match<
    models.UpdatePlanResponse,
    | AutumnError
    | ResponseValidationError
    | ConnectionError
    | RequestAbortedError
    | RequestTimeoutError
    | InvalidRequestError
    | UnexpectedClientError
    | SDKValidationError
  >(
    M.json(200, models.UpdatePlanResponse$inboundSchema),
    M.fail("4XX"),
    M.fail("5XX"),
  )(response, req);
  if (!result.ok) {
    return [result, { status: "complete", request: req, response }];
  }

  return [result, { status: "complete", request: req, response }];
}
