openapi: 3.1.0
info:
  title: Autumn API
  version: 2.0.0
servers:
  - url: https://api.useautumn.com/v1
    description: Production server
security:
  - secretKey: []
paths:
  /plans:
    get:
      summary: List Plans
      tags:
        - plans
      parameters:
        - in: query
          name: customer_id
          schema:
            type: string
        - in: query
          name: entity_id
          schema:
            internal: true
            type: string
        - in: query
          name: include_archived
          schema:
            internal: true
            type: boolean
        - in: query
          name: v1_schema
          schema:
            internal: true
            type: boolean
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                type: object
                properties:
                  list:
                    type: array
                    items:
                      $ref: "#/components/schemas/Plan"
                required:
                  - list
                additionalProperties: false
      x-codeSamples:
        - lang: TypeScript
          source: |-
            import { Autumn } from 'autumn-js';

            const autumn = new Autumn();

            const { data, error } = await autumn.plans.list();
        - lang: Python
          source: >-
            import asyncio

            import os

            from autumn import Autumn


            client = Autumn(
                secret_key=os.environ.get("AUTUMN_SECRET_KEY"),  # This is the default and can be omitted
            )

            plans = autumn.plans.list()

            print(plans.list)
    post:
      summary: Create Product
      tags:
        - products
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: string
                  pattern: ^[a-zA-Z0-9_-]+$
                group:
                  default: ""
                  type: string
                name:
                  type: string
                description:
                  default: null
                  anyOf:
                    - type: string
                    - type: "null"
                add_on:
                  default: false
                  type: boolean
                default:
                  default: false
                  type: boolean
                price:
                  type: object
                  properties:
                    amount:
                      type: number
                    interval:
                      type: string
                      enum:
                        - one_off
                        - week
                        - month
                        - quarter
                        - semi_annual
                        - year
                  required:
                    - amount
                    - interval
                features:
                  type: array
                  items:
                    type: object
                    properties:
                      feature_id:
                        type: string
                      granted_balance:
                        type: number
                      unlimited:
                        type: boolean
                      reset:
                        type: object
                        properties:
                          interval:
                            type: string
                            enum:
                              - one_off
                              - minute
                              - hour
                              - day
                              - week
                              - month
                              - quarter
                              - semi_annual
                              - year
                          interval_count:
                            type: number
                          reset_when_enabled:
                            type: boolean
                        required:
                          - interval
                      price:
                        type: object
                        properties:
                          amount:
                            type: number
                          tiers:
                            type: array
                            items:
                              type: object
                              properties:
                                to:
                                  anyOf:
                                    - type: number
                                    - type: string
                                      const: inf
                                amount:
                                  type: number
                              required:
                                - to
                                - amount
                          interval:
                            type: string
                            enum:
                              - one_off
                              - week
                              - month
                              - quarter
                              - semi_annual
                              - year
                          interval_count:
                            default: 1
                            type: number
                          billing_units:
                            default: 1
                            type: number
                          usage_model:
                            type: string
                            enum:
                              - prepaid
                              - pay_per_use
                          max_purchase:
                            type: number
                        required:
                          - interval
                          - usage_model
                      proration:
                        type: object
                        properties:
                          on_increase:
                            type: string
                            enum:
                              - bill_immediately
                              - prorate_immediately
                              - prorate_next_cycle
                              - bill_next_cycle
                          on_decrease:
                            type: string
                            enum:
                              - prorate
                              - prorate_immediately
                              - prorate_next_cycle
                              - none
                              - no_prorations
                        required:
                          - on_increase
                          - on_decrease
                      rollover:
                        type: object
                        properties:
                          max:
                            type: number
                          expiry_duration_type:
                            type: string
                            enum:
                              - month
                              - forever
                          expiry_duration_length:
                            type: number
                        required:
                          - max
                          - expiry_duration_type
                    required:
                      - feature_id
                free_trial:
                  anyOf:
                    - type: object
                      properties:
                        duration_type:
                          type: string
                          enum:
                            - day
                            - month
                            - year
                        duration_length:
                          type: number
                        card_required:
                          type: boolean
                      required:
                        - duration_type
                        - duration_length
                        - card_required
                    - type: "null"
              required:
                - id
                - name
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Plan"
      x-codeSamples:
        - lang: TypeScript
          source: >-
            import { Autumn } from 'autumn-js';


            const autumn = new Autumn();


            const { data, error } = await autumn.plans.create({ id: 'id', name:
            'name' });
        - lang: Python
          source: >-
            import asyncio

            import os

            from autumn import Autumn


            client = Autumn(
                secret_key=os.environ.get("AUTUMN_SECRET_KEY"),  # This is the default and can be omitted
            )

            plan = autumn.plans.create(
                id="id",
                name="name",
            )

            print(plan.id)
  /plans/{plan_id}:
    get:
      summary: Get Plan
      tags:
        - plans
      parameters:
        - in: path
          name: plan_id
          schema:
            type: string
          required: true
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Plan"
      x-codeSamples:
        - lang: TypeScript
          source: |-
            import { Autumn } from 'autumn-js';

            const autumn = new Autumn();

            const { data, error } = await autumn.plans.get('plan_id');
        - lang: Python
          source: >-
            import asyncio

            import os

            from autumn import Autumn


            client = Autumn(
                secret_key=os.environ.get("AUTUMN_SECRET_KEY"),  # This is the default and can be omitted
            )

            plan = autumn.plans.get(
                "plan_id",
            )

            print(plan.id)
    post:
      summary: Update Plan
      tags:
        - plans
      parameters:
        - in: path
          name: plan_id
          schema:
            type: string
          required: true
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: string
                  pattern: ^[a-zA-Z0-9_-]+$
                group:
                  default: ""
                  type: string
                name:
                  type: string
                description:
                  anyOf:
                    - type: string
                    - type: "null"
                version:
                  type: number
                add_on:
                  default: false
                  type: boolean
                default:
                  default: false
                  type: boolean
                archived:
                  default: false
                  type: boolean
                price:
                  type: object
                  properties:
                    amount:
                      type: number
                    interval:
                      type: string
                      enum:
                        - one_off
                        - week
                        - month
                        - quarter
                        - semi_annual
                        - year
                features:
                  type: array
                  items:
                    type: object
                    properties:
                      feature_id:
                        type: string
                      granted_balance:
                        type: number
                      unlimited:
                        type: boolean
                      reset:
                        type: object
                        properties:
                          interval:
                            type: string
                            enum:
                              - one_off
                              - minute
                              - hour
                              - day
                              - week
                              - month
                              - quarter
                              - semi_annual
                              - year
                          interval_count:
                            type: number
                          reset_when_enabled:
                            type: boolean
                        required:
                          - interval
                      price:
                        type: object
                        properties:
                          amount:
                            type: number
                          tiers:
                            type: array
                            items:
                              type: object
                              properties:
                                to:
                                  anyOf:
                                    - type: number
                                    - type: string
                                      const: inf
                                amount:
                                  type: number
                              required:
                                - to
                                - amount
                          interval:
                            type: string
                            enum:
                              - one_off
                              - week
                              - month
                              - quarter
                              - semi_annual
                              - year
                          interval_count:
                            default: 1
                            type: number
                          billing_units:
                            default: 1
                            type: number
                          usage_model:
                            type: string
                            enum:
                              - prepaid
                              - pay_per_use
                          max_purchase:
                            type: number
                        required:
                          - interval
                          - usage_model
                      proration:
                        type: object
                        properties:
                          on_increase:
                            type: string
                            enum:
                              - bill_immediately
                              - prorate_immediately
                              - prorate_next_cycle
                              - bill_next_cycle
                          on_decrease:
                            type: string
                            enum:
                              - prorate
                              - prorate_immediately
                              - prorate_next_cycle
                              - none
                              - no_prorations
                        required:
                          - on_increase
                          - on_decrease
                      rollover:
                        type: object
                        properties:
                          max:
                            type: number
                          expiry_duration_type:
                            type: string
                            enum:
                              - month
                              - forever
                          expiry_duration_length:
                            type: number
                        required:
                          - max
                          - expiry_duration_type
                    required:
                      - feature_id
                free_trial:
                  anyOf:
                    - type: object
                      properties:
                        duration_type:
                          type: string
                          enum:
                            - day
                            - month
                            - year
                        duration_length:
                          type: number
                        card_required:
                          type: boolean
                      required:
                        - duration_type
                        - duration_length
                        - card_required
                    - type: "null"
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Plan"
      x-codeSamples:
        - lang: TypeScript
          source: |-
            import { Autumn } from 'autumn-js';

            const autumn = new Autumn();

            const { data, error } = await autumn.plans.update('plan_id');
        - lang: Python
          source: >-
            import asyncio

            import os

            from autumn import Autumn


            client = Autumn(
                secret_key=os.environ.get("AUTUMN_SECRET_KEY"),  # This is the default and can be omitted
            )

            plan = autumn.plans.update(
                plan_id="plan_id",
            )

            print(plan.id)
    delete:
      summary: Delete Plan
      tags:
        - plans
      parameters:
        - in: path
          name: plan_id
          schema:
            type: string
          required: true
        - in: query
          name: all_versions
          schema:
            type: boolean
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                required:
                  - success
                additionalProperties: false
      x-codeSamples:
        - lang: TypeScript
          source: |-
            import { Autumn } from 'autumn-js';

            const autumn = new Autumn();

            const { data, error } = await autumn.plans.delete('plan_id');
        - lang: Python
          source: >-
            import asyncio

            import os

            from autumn import Autumn


            client = Autumn(
                secret_key=os.environ.get("AUTUMN_SECRET_KEY"),  # This is the default and can be omitted
            )

            plan = autumn.plans.delete(
                plan_id="plan_id",
            )

            print(plan.success)
  /customers:
    post:
      summary: Create Customer
      tags:
        - customers
      parameters:
        - in: query
          name: expand
          schema:
            type: array
            items:
              type: string
              enum:
                - invoices
                - trials_used
                - rewards
                - entities
                - referrals
                - payment_method
                - upcoming_invoice
                - subscriptions.plan
                - scheduled_subscriptions.plan
                - balances.feature
        - in: query
          name: with_autumn_id
          schema:
            internal: true
            default: false
            type: boolean
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  description: Your unique identifier for the customer
                  anyOf:
                    - type: string
                    - type: "null"
                name:
                  description: Customer's name
                  anyOf:
                    - type: string
                    - type: "null"
                email:
                  description: Customer's email address
                  anyOf:
                    - type: string
                      format: email
                      pattern: ^(?!\.)(?!.*\.\.)([A-Za-z0-9_'+\-\.]*)[A-Za-z0-9_+-]@([A-Za-z0-9][A-Za-z0-9\-]*\.)+[A-Za-z]{2,}$
                    - type: "null"
                fingerprint:
                  description: Unique identifier (eg, serial number) to detect duplicate customers
                    and prevent free trial abuse
                  type: string
                metadata:
                  description: Additional metadata for the customer
                  anyOf:
                    - type: object
                      propertyNames:
                        type: string
                      additionalProperties: {}
                    - type: "null"
                stripe_id:
                  description: Stripe customer ID if you already have one
                  type: string
              required:
                - id
      responses:
        "200":
          description: 200 OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Customer"
      x-codeSamples:
        - lang: TypeScript
          source: |-
            import { Autumn } from 'autumn-js';

            const autumn = new Autumn();

            const { data, error } = await autumn.customers.create({ id: 'id' });
        - lang: Python
          source: >-
            import asyncio

            import os

            from autumn import Autumn


            client = Autumn(
                secret_key=os.environ.get("AUTUMN_SECRET_KEY"),  # This is the default and can be omitted
            )

            customer = autumn.customers.create(
                id="id",
            )

            print(customer.id)
  /customers/list:
    post:
      summary: List Customers
      tags:
        - customers
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                offset:
                  description: Number of items to skip
                  default: 0
                  type: integer
                limit:
                  description: Number of items to return. Default 10, max 1000.
                  default: 10
                  type: integer
                plans:
                  description: Filter by plan ID and version. Returns customers with active
                    subscriptions to this plan.
                  type: array
                  items:
                    type: object
                    properties:
                      id:
                        type: string
                      versions:
                        type: array
                        items:
                          type: number
                    required:
                      - id
                subscription_status:
                  description: Filter by customer product status. Defaults to active and scheduled
                  type: string
                  enum:
                    - active
                    - scheduled
                search:
                  description: Search customers by id, name, or email
                  type: string
      responses:
        "200":
          description: 200 OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  list:
                    description: Array of items for current page
                    type: array
                    items:
                      $ref: "#/components/schemas/BaseCustomer"
                  has_more:
                    description: Whether more results exist after this page
                    type: boolean
                  offset:
                    description: Current offset position
                    type: number
                  limit:
                    description: Limit passed in the request
                    type: number
                  total:
                    description: Total number of items returned in the current page
                    type: number
                required:
                  - list
                  - has_more
                  - offset
                  - limit
                  - total
                additionalProperties: false
      x-codeSamples:
        - lang: TypeScript
          source: |-
            import { Autumn } from 'autumn-js';

            const autumn = new Autumn();

            const { data, error } = await autumn.customers.list();
        - lang: Python
          source: >-
            import asyncio

            import os

            from autumn import Autumn


            client = Autumn(
                secret_key=os.environ.get("AUTUMN_SECRET_KEY"),  # This is the default and can be omitted
            )

            customers = autumn.customers.list()

            print(customers.has_more)
  /customers/{customer_id}:
    get:
      summary: Get Customer
      tags:
        - customers
      parameters:
        - in: path
          name: customer_id
          schema:
            type: string
          required: true
        - in: query
          name: expand
          schema:
            type: array
            items:
              type: string
              enum:
                - invoices
                - trials_used
                - rewards
                - entities
                - referrals
                - payment_method
                - upcoming_invoice
                - subscriptions.plan
                - scheduled_subscriptions.plan
                - balances.feature
        - in: query
          name: skip_cache
          schema:
            internal: true
            type: boolean
        - in: query
          name: with_autumn_id
          schema:
            internal: true
            default: false
            type: boolean
      responses:
        "200":
          description: 200 OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Customer"
      x-codeSamples:
        - lang: TypeScript
          source: |-
            import { Autumn } from 'autumn-js';

            const autumn = new Autumn();

            const { data, error } = await autumn.customers.get('customer_id');
        - lang: Python
          source: >-
            import asyncio

            import os

            from autumn import Autumn


            client = Autumn(
                secret_key=os.environ.get("AUTUMN_SECRET_KEY"),  # This is the default and can be omitted
            )

            customer = autumn.customers.get(
                customer_id="customer_id",
            )

            print(customer.id)
    post:
      summary: Update Customer
      tags:
        - customers
      parameters:
        - in: path
          name: customer_id
          schema:
            type: string
          required: true
        - in: query
          name: expand
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  description: New unique identifier for the customer.
                  type: string
                name:
                  description: The customer's name.
                  anyOf:
                    - type: string
                    - type: "null"
                email:
                  description: Customer's email address
                  anyOf:
                    - type: string
                      format: email
                      pattern: ^(?!\.)(?!.*\.\.)([A-Za-z0-9_'+\-\.]*)[A-Za-z0-9_+-]@([A-Za-z0-9][A-Za-z0-9\-]*\.)+[A-Za-z]{2,}$
                    - type: "null"
                fingerprint:
                  description: Unique identifier (eg, serial number) to detect duplicate
                    customers.
                  anyOf:
                    - type: string
                    - type: "null"
                metadata:
                  description: Additional metadata for the customer (set individual keys to null
                    to delete them).
                  anyOf:
                    - type: object
                      propertyNames: {}
                      additionalProperties: {}
                    - type: "null"
                stripe_id:
                  description: Stripe customer ID.
                  anyOf:
                    - type: string
                    - type: "null"
      responses:
        "200":
          description: 200 OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Customer"
      x-codeSamples:
        - lang: TypeScript
          source: >-
            import { Autumn } from 'autumn-js';


            const autumn = new Autumn();


            const { data, error } = await
            autumn.customers.update('customer_id');
        - lang: Python
          source: >-
            import asyncio

            import os

            from autumn import Autumn


            client = Autumn(
                secret_key=os.environ.get("AUTUMN_SECRET_KEY"),  # This is the default and can be omitted
            )

            customer = autumn.customers.update(
                customer_id="customer_id",
            )

            print(customer.id)
    delete:
      summary: Delete Customer
      tags:
        - customers
      parameters:
        - in: path
          name: customer_id
          schema:
            type: string
          required: true
      responses:
        "200":
          description: 200 OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                required:
                  - success
                additionalProperties: false
      x-codeSamples:
        - lang: TypeScript
          source: >-
            import { Autumn } from 'autumn-js';


            const autumn = new Autumn();


            const { data, error } = await
            autumn.customers.delete('customer_id');
        - lang: Python
          source: >-
            import asyncio

            import os

            from autumn import Autumn


            client = Autumn(
                secret_key=os.environ.get("AUTUMN_SECRET_KEY"),  # This is the default and can be omitted
            )

            customer = autumn.customers.delete(
                "customer_id",
            )

            print(customer.success)
  /customers/{customer_id}/entities:
    post:
      summary: Create Entity
      tags:
        - entities
      parameters:
        - in: path
          name: customer_id
          schema:
            type: string
          required: true
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  description: The ID of the entity
                  anyOf:
                    - type: string
                    - type: "null"
                name:
                  description: The name of the entity
                  anyOf:
                    - type: string
                    - type: "null"
                feature_id:
                  description: The ID of the feature this entity is associated with
                  type: string
                customer_data:
                  $ref: "#/components/schemas/CustomerData"
              required:
                - id
                - feature_id
      responses:
        "200":
          description: 200 OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Entity"
      x-codeSamples:
        - lang: TypeScript
          source: >-
            import { Autumn } from 'autumn-js';


            const autumn = new Autumn();


            const { data, error } = await autumn.entities.create('customer_id',
            { id: 'id', feature_id: 'feature_id' });
        - lang: Python
          source: >-
            import asyncio

            import os

            from autumn import Autumn


            client = Autumn(
                secret_key=os.environ.get("AUTUMN_SECRET_KEY"),  # This is the default and can be omitted
            )

            entity = autumn.entities.create(
                customer_id="customer_id",
                id="id",
                feature_id="feature_id",
            )

            print(entity.id)
  /customers/{customer_id}/entities/{entity_id}:
    get:
      summary: Get Entity
      tags:
        - entities
      parameters:
        - in: path
          name: customer_id
          schema:
            type: string
          required: true
        - in: path
          name: entity_id
          schema:
            type: string
          required: true
        - in: query
          name: expand
          schema:
            type: array
            items:
              type: string
              enum:
                - invoices
      responses:
        "200":
          description: 200 OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Entity"
      x-codeSamples:
        - lang: TypeScript
          source: >-
            import { Autumn } from 'autumn-js';


            const autumn = new Autumn();


            const { data, error } = await autumn.entities.get("entity_id",
            "customer_id");
        - lang: Python
          source: >-
            import asyncio

            import os

            from autumn import Autumn


            client = Autumn(
                secret_key=os.environ.get("AUTUMN_SECRET_KEY"),  # This is the default and can be omitted
            )

            entity = autumn.entities.get(
                entity_id="entity_id",
                customer_id="customer_id",
            )

            print(entity.id)
    delete:
      summary: Delete Entity
      tags:
        - entities
      parameters:
        - in: path
          name: customer_id
          schema:
            type: string
          required: true
        - in: path
          name: entity_id
          schema:
            type: string
          required: true
      responses:
        "200":
          description: 200 OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                required:
                  - success
                additionalProperties: false
      x-codeSamples:
        - lang: TypeScript
          source: >-
            import { Autumn } from 'autumn-js';


            const autumn = new Autumn();


            const { data, error } = await autumn.entities.delete("entity_id",
            "customer_id");
        - lang: Python
          source: >-
            import asyncio

            import os

            from autumn import Autumn


            client = Autumn(
                secret_key=os.environ.get("AUTUMN_SECRET_KEY"),  # This is the default and can be omitted
            )

            entity = autumn.entities.delete(
                entity_id="entity_id",
                customer_id="customer_id",
            )

            print(entity.success)
  /referrals/code:
    post:
      summary: Create a referral code
      tags:
        - referrals
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                customer_id:
                  description: The unique identifier of the customer
                  example: cus_123
                  type: string
                program_id:
                  description: ID of your referral program
                  example: prog_123
                  type: string
              required:
                - customer_id
                - program_id
      responses:
        "200":
          description: Referral code generated successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ReferralCode"
      x-codeSamples:
        - lang: TypeScript
          source: |-
            import { Autumn } from 'autumn-js';

            const autumn = new Autumn();

            const { data, error } = await autumn.referrals.createCode({
              customer_id: 'cus_123',
              program_id: 'prog_123',
            });
        - lang: Python
          source: >-
            import asyncio

            import os

            from autumn import Autumn


            client = Autumn(
                secret_key=os.environ.get("AUTUMN_SECRET_KEY"),  # This is the default and can be omitted
            )

            response = autumn.referrals.create_code(
                customer_id="cus_123",
                program_id="prog_123",
            )

            print(response.customer_id)
  /referrals/redeem:
    post:
      summary: Redeem a referral code
      tags:
        - referrals
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                code:
                  description: The referral code to redeem
                  example: REF123ABC
                  type: string
                customer_id:
                  description: The unique identifier of the customer redeeming the code
                  example: cus_456
                  type: string
              required:
                - code
                - customer_id
      responses:
        "200":
          description: Referral code redeemed successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RedeemReferralCodeResponse"
      x-codeSamples:
        - lang: TypeScript
          source: >-
            import { Autumn } from 'autumn-js';


            const autumn = new Autumn();


            const { data, error } = await autumn.referrals.redeemCode({ code:
            'REF123ABC', customer_id: 'cus_456' });
        - lang: Python
          source: >-
            import asyncio

            import os

            from autumn import Autumn


            client = Autumn(
                secret_key=os.environ.get("AUTUMN_SECRET_KEY"),  # This is the default and can be omitted
            )

            response = autumn.referrals.redeem_code(
                code="REF123ABC",
                customer_id="cus_456",
            )

            print(response.id)
  /attach:
    post:
      summary: Attach Product
      description: Enables a product for a customer and processes payment if their
        payment method is already on file.
      tags:
        - core
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                customer_id:
                  type: string
                product_id:
                  anyOf:
                    - type: string
                    - type: "null"
                entity_id:
                  anyOf:
                    - type: string
                    - type: "null"
                customer_data:
                  anyOf:
                    - $ref: "#/components/schemas/CustomerData"
                    - type: "null"
                entity_data:
                  $ref: "#/components/schemas/EntityData"
                product_ids:
                  anyOf:
                    - minItems: 1
                      type: array
                      items:
                        type: string
                    - type: "null"
                options:
                  anyOf:
                    - type: array
                      items:
                        type: object
                        properties:
                          feature_id:
                            type: string
                          quantity:
                            type: number
                          upcoming_quantity:
                            anyOf:
                              - type: number
                              - type: "null"
                          adjustable_quantity:
                            anyOf:
                              - type: boolean
                              - type: "null"
                          internal_feature_id:
                            anyOf:
                              - type: string
                              - type: "null"
                        required:
                          - feature_id
                          - quantity
                    - type: "null"
                free_trial:
                  anyOf:
                    - type: object
                      properties:
                        length:
                          anyOf:
                            - type: string
                            - type: number
                        unique_fingerprint:
                          default: false
                          type: boolean
                        duration:
                          default: day
                          type: string
                          enum:
                            - day
                            - month
                            - year
                        card_required:
                          default: true
                          type: boolean
                      required:
                        - length
                    - type: boolean
                success_url:
                  type: string
                force_checkout:
                  type: boolean
                checkout_session_params: {}
                reward:
                  anyOf:
                    - type: string
                    - type: array
                      items:
                        type: string
                invoice:
                  type: boolean
                setup_payment:
                  type: boolean
                new_billing_subscription:
                  type: boolean
                is_custom:
                  type: boolean
                items:
                  type: array
                  items:
                    type: object
                    properties:
                      type:
                        description: The type of the product item.
                        anyOf:
                          - type: string
                            enum:
                              - feature
                              - priced_feature
                              - price
                          - type: "null"
                      feature_id:
                        description: The feature ID of the product item. Should be null for fixed price
                          items.
                        anyOf:
                          - type: string
                          - type: "null"
                      included_usage:
                        description: The amount of usage included for this feature (per interval).
                        anyOf:
                          - anyOf:
                              - type: number
                              - type: string
                                const: inf
                          - type: "null"
                      interval:
                        description: The reset or billing interval of the product item. If null, feature
                          will have no reset date, and if there's a price, it
                          will be billed one-off.
                        anyOf:
                          - type: string
                            enum:
                              - minute
                              - hour
                              - day
                              - week
                              - month
                              - quarter
                              - semi_annual
                              - year
                          - type: "null"
                      interval_count:
                        description: Interval count of the feature.
                        anyOf:
                          - type: number
                          - type: "null"
                      entity_feature_id:
                        description: The feature ID of the entity (like seats) to track sub-balances
                          for.
                        anyOf:
                          - type: string
                          - type: "null"
                      usage_model:
                        description: Whether the feature should be prepaid upfront or billed for how
                          much they use end of billing period.
                        anyOf:
                          - type: string
                            enum:
                              - prepaid
                              - pay_per_use
                          - type: "null"
                      price:
                        description: The price of the product item. Should be null if tiered pricing is
                          set.
                        anyOf:
                          - type: number
                          - type: "null"
                      tiers:
                        description: Tiered pricing for the product item. Not applicable for fixed price
                          items.
                        anyOf:
                          - type: array
                            items:
                              type: object
                              properties:
                                to:
                                  description: The maximum amount of usage for this tier.
                                  example: 100
                                  anyOf:
                                    - type: number
                                    - type: string
                                      const: inf
                                amount:
                                  description: The price of the product item for this tier.
                                  example: 10
                                  type: number
                              required:
                                - to
                                - amount
                          - type: "null"
                      billing_units:
                        description: The billing units of the product item (eg $1 for 30 credits).
                        anyOf:
                          - type: number
                          - type: "null"
                      reset_usage_when_enabled:
                        description: Whether the usage should be reset when the product is enabled.
                        anyOf:
                          - type: boolean
                          - type: "null"
                    required:
                      - interval
                version:
                  type: number
                invoice_only:
                  type: boolean
                metadata: {}
                billing_cycle_anchor:
                  type: number
                enable_product_immediately:
                  type: boolean
                finalize_invoice:
                  type: boolean
              required:
                - customer_id
            examples:
              basic:
                summary: Attach a product immediately
                description: Enable a product for a customer with immediate activation
                value:
                  customer_id: cus_123
                  product_id: pro_plan
      responses:
        "200":
          description: Product attached successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  customer_id:
                    type: string
                  product_ids:
                    type: array
                    items:
                      type: string
                  code:
                    type: string
                  message:
                    type: string
                  checkout_url:
                    anyOf:
                      - type: string
                      - type: "null"
                  invoice:
                    anyOf:
                      - {}
                      - type: "null"
                required:
                  - success
                  - customer_id
                  - product_ids
                  - code
                  - message
                additionalProperties: false
      x-codeSamples:
        - lang: TypeScript
          source: >-
            import { Autumn } from 'autumn-js';


            const autumn = new Autumn();


            const { data, error } = await autumn.attach({ customer_id:
            'cus_123', product_id: 'pro_plan' });
        - lang: Python
          source: >-
            import asyncio

            import os

            from autumn import Autumn


            client = Autumn(
                secret_key=os.environ.get("AUTUMN_SECRET_KEY"),  # This is the default and can be omitted
            )

            response = autumn.attach(
                customer_id="cus_123",
                product_id="pro_plan",
            )

            print(response.customer_id)
  /checkout:
    post:
      summary: Checkout
      description: Creates a checkout session for a customer to purchase a product
        with payment collection.
      tags:
        - core
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                customer_id:
                  type: string
                product_id:
                  anyOf:
                    - type: string
                    - type: "null"
                entity_id:
                  anyOf:
                    - type: string
                    - type: "null"
                customer_data:
                  anyOf:
                    - $ref: "#/components/schemas/CustomerData"
                    - type: "null"
                entity_data:
                  $ref: "#/components/schemas/EntityData"
                product_ids:
                  anyOf:
                    - minItems: 1
                      type: array
                      items:
                        type: string
                    - type: "null"
                options:
                  anyOf:
                    - type: array
                      items:
                        type: object
                        properties:
                          feature_id:
                            type: string
                          quantity:
                            type: number
                          upcoming_quantity:
                            anyOf:
                              - type: number
                              - type: "null"
                          adjustable_quantity:
                            anyOf:
                              - type: boolean
                              - type: "null"
                          internal_feature_id:
                            anyOf:
                              - type: string
                              - type: "null"
                        required:
                          - feature_id
                          - quantity
                    - type: "null"
                free_trial:
                  anyOf:
                    - type: object
                      properties:
                        length:
                          anyOf:
                            - type: string
                            - type: number
                        unique_fingerprint:
                          default: false
                          type: boolean
                        duration:
                          default: day
                          type: string
                          enum:
                            - day
                            - month
                            - year
                        card_required:
                          default: true
                          type: boolean
                      required:
                        - length
                    - type: boolean
                success_url:
                  type: string
                force_checkout:
                  type: boolean
                checkout_session_params: {}
                reward:
                  anyOf:
                    - type: string
                    - type: array
                      items:
                        type: string
                invoice:
                  type: boolean
                setup_payment:
                  type: boolean
                new_billing_subscription:
                  type: boolean
                is_custom:
                  type: boolean
                items:
                  type: array
                  items:
                    type: object
                    properties:
                      type:
                        description: The type of the product item.
                        anyOf:
                          - type: string
                            enum:
                              - feature
                              - priced_feature
                              - price
                          - type: "null"
                      feature_id:
                        description: The feature ID of the product item. Should be null for fixed price
                          items.
                        anyOf:
                          - type: string
                          - type: "null"
                      included_usage:
                        description: The amount of usage included for this feature (per interval).
                        anyOf:
                          - anyOf:
                              - type: number
                              - type: string
                                const: inf
                          - type: "null"
                      interval:
                        description: The reset or billing interval of the product item. If null, feature
                          will have no reset date, and if there's a price, it
                          will be billed one-off.
                        anyOf:
                          - type: string
                            enum:
                              - minute
                              - hour
                              - day
                              - week
                              - month
                              - quarter
                              - semi_annual
                              - year
                          - type: "null"
                      interval_count:
                        description: Interval count of the feature.
                        anyOf:
                          - type: number
                          - type: "null"
                      entity_feature_id:
                        description: The feature ID of the entity (like seats) to track sub-balances
                          for.
                        anyOf:
                          - type: string
                          - type: "null"
                      usage_model:
                        description: Whether the feature should be prepaid upfront or billed for how
                          much they use end of billing period.
                        anyOf:
                          - type: string
                            enum:
                              - prepaid
                              - pay_per_use
                          - type: "null"
                      price:
                        description: The price of the product item. Should be null if tiered pricing is
                          set.
                        anyOf:
                          - type: number
                          - type: "null"
                      tiers:
                        description: Tiered pricing for the product item. Not applicable for fixed price
                          items.
                        anyOf:
                          - type: array
                            items:
                              type: object
                              properties:
                                to:
                                  description: The maximum amount of usage for this tier.
                                  example: 100
                                  anyOf:
                                    - type: number
                                    - type: string
                                      const: inf
                                amount:
                                  description: The price of the product item for this tier.
                                  example: 10
                                  type: number
                              required:
                                - to
                                - amount
                          - type: "null"
                      billing_units:
                        description: The billing units of the product item (eg $1 for 30 credits).
                        anyOf:
                          - type: number
                          - type: "null"
                      reset_usage_when_enabled:
                        description: Whether the usage should be reset when the product is enabled.
                        anyOf:
                          - type: boolean
                          - type: "null"
                    required:
                      - interval
                version:
                  type: number
                invoice_only:
                  type: boolean
                metadata: {}
                billing_cycle_anchor:
                  type: number
                enable_product_immediately:
                  type: boolean
                finalize_invoice:
                  type: boolean
              required:
                - customer_id
      responses:
        "200":
          description: 200 OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  url:
                    anyOf:
                      - type: string
                      - type: "null"
                  customer_id:
                    type: string
                  lines:
                    type: array
                    items:
                      type: object
                      properties:
                        description:
                          type: string
                        amount:
                          type: number
                        item:
                          anyOf:
                            - $ref: "#/components/schemas/ProductItem"
                            - type: "null"
                      required:
                        - description
                        - amount
                      additionalProperties: false
                  product:
                    anyOf:
                      - type: object
                        properties:
                          id:
                            description: The ID of the product you set when creating the product
                            type: string
                          name:
                            description: The name of the product
                            type: string
                          group:
                            description: Product group which this product belongs to
                            anyOf:
                              - type: string
                              - type: "null"
                          env:
                            description: The environment of the product
                            type: string
                            enum:
                              - sandbox
                              - live
                          is_add_on:
                            description: Whether the product is an add-on and can be purchased alongside
                              other products
                            type: boolean
                          is_default:
                            description: Whether the product is the default product
                            type: boolean
                          archived:
                            description: Whether this product has been archived and is no longer available
                            type: boolean
                          version:
                            description: The current version of the product
                            type: number
                          created_at:
                            description: The timestamp of when the product was created in milliseconds since
                              epoch
                            type: number
                          items:
                            description: Array of product items that define the product's features and
                              pricing
                            type: array
                            items:
                              $ref: "#/components/schemas/ProductItem"
                          free_trial:
                            description: Free trial configuration for this product, if available
                            anyOf:
                              - type: object
                                properties:
                                  duration:
                                    description: The duration type of the free trial
                                    type: string
                                    enum:
                                      - day
                                      - month
                                      - year
                                  length:
                                    description: The length of the duration type specified
                                    type: number
                                  unique_fingerprint:
                                    description: Whether the free trial is limited to one per customer fingerprint
                                    type: boolean
                                  card_required:
                                    description: Whether the free trial requires a card. If false, the customer can
                                      attach the product without going through a
                                      checkout flow or having a card on file.
                                    type: boolean
                                  trial_available:
                                    description: Used in customer context. Whether the free trial is available for
                                      the customer if they were to attach the
                                      product.
                                    default: true
                                    anyOf:
                                      - type: boolean
                                      - type: "null"
                                required:
                                  - duration
                                  - length
                                  - unique_fingerprint
                                  - card_required
                                  - trial_available
                                additionalProperties: false
                              - type: "null"
                          base_variant_id:
                            description: ID of the base variant this product is derived from
                            anyOf:
                              - type: string
                              - type: "null"
                          scenario:
                            description: Scenario for when this product is used in attach flows
                            type: string
                            enum:
                              - scheduled
                              - active
                              - new
                              - renew
                              - upgrade
                              - downgrade
                              - cancel
                              - expired
                              - past_due
                          properties:
                            type: object
                            properties:
                              is_free:
                                description: True if the product has no base price or usage prices
                                example: false
                                type: boolean
                              is_one_off:
                                description: True if the product only contains a one-time price
                                example: false
                                type: boolean
                              interval_group:
                                description: The billing interval group for recurring products (e.g., 'monthly',
                                  'yearly')
                                example: monthly
                                anyOf:
                                  - type: string
                                  - type: "null"
                              has_trial:
                                description: True if the product includes a free trial
                                example: true
                                anyOf:
                                  - type: boolean
                                  - type: "null"
                              updateable:
                                description: True if the product can be updated after creation (only applicable
                                  if there are prepaid recurring prices)
                                example: true
                                anyOf:
                                  - type: boolean
                                  - type: "null"
                            required:
                              - is_free
                              - is_one_off
                            additionalProperties: false
                        required:
                          - id
                          - name
                          - group
                          - env
                          - is_add_on
                          - is_default
                          - archived
                          - version
                          - created_at
                          - items
                          - free_trial
                          - base_variant_id
                        additionalProperties: false
                      - type: "null"
                  current_product:
                    anyOf:
                      - type: object
                        properties:
                          id:
                            description: The ID of the product you set when creating the product
                            type: string
                          name:
                            description: The name of the product
                            type: string
                          group:
                            description: Product group which this product belongs to
                            anyOf:
                              - type: string
                              - type: "null"
                          env:
                            description: The environment of the product
                            type: string
                            enum:
                              - sandbox
                              - live
                          is_add_on:
                            description: Whether the product is an add-on and can be purchased alongside
                              other products
                            type: boolean
                          is_default:
                            description: Whether the product is the default product
                            type: boolean
                          archived:
                            description: Whether this product has been archived and is no longer available
                            type: boolean
                          version:
                            description: The current version of the product
                            type: number
                          created_at:
                            description: The timestamp of when the product was created in milliseconds since
                              epoch
                            type: number
                          items:
                            description: Array of product items that define the product's features and
                              pricing
                            type: array
                            items:
                              $ref: "#/components/schemas/ProductItem"
                          free_trial:
                            description: Free trial configuration for this product, if available
                            anyOf:
                              - type: object
                                properties:
                                  duration:
                                    description: The duration type of the free trial
                                    type: string
                                    enum:
                                      - day
                                      - month
                                      - year
                                  length:
                                    description: The length of the duration type specified
                                    type: number
                                  unique_fingerprint:
                                    description: Whether the free trial is limited to one per customer fingerprint
                                    type: boolean
                                  card_required:
                                    description: Whether the free trial requires a card. If false, the customer can
                                      attach the product without going through a
                                      checkout flow or having a card on file.
                                    type: boolean
                                  trial_available:
                                    description: Used in customer context. Whether the free trial is available for
                                      the customer if they were to attach the
                                      product.
                                    default: true
                                    anyOf:
                                      - type: boolean
                                      - type: "null"
                                required:
                                  - duration
                                  - length
                                  - unique_fingerprint
                                  - card_required
                                  - trial_available
                                additionalProperties: false
                              - type: "null"
                          base_variant_id:
                            description: ID of the base variant this product is derived from
                            anyOf:
                              - type: string
                              - type: "null"
                          scenario:
                            description: Scenario for when this product is used in attach flows
                            type: string
                            enum:
                              - scheduled
                              - active
                              - new
                              - renew
                              - upgrade
                              - downgrade
                              - cancel
                              - expired
                              - past_due
                          properties:
                            type: object
                            properties:
                              is_free:
                                description: True if the product has no base price or usage prices
                                example: false
                                type: boolean
                              is_one_off:
                                description: True if the product only contains a one-time price
                                example: false
                                type: boolean
                              interval_group:
                                description: The billing interval group for recurring products (e.g., 'monthly',
                                  'yearly')
                                example: monthly
                                anyOf:
                                  - type: string
                                  - type: "null"
                              has_trial:
                                description: True if the product includes a free trial
                                example: true
                                anyOf:
                                  - type: boolean
                                  - type: "null"
                              updateable:
                                description: True if the product can be updated after creation (only applicable
                                  if there are prepaid recurring prices)
                                example: true
                                anyOf:
                                  - type: boolean
                                  - type: "null"
                            required:
                              - is_free
                              - is_one_off
                            additionalProperties: false
                        required:
                          - id
                          - name
                          - group
                          - env
                          - is_add_on
                          - is_default
                          - archived
                          - version
                          - created_at
                          - items
                          - free_trial
                          - base_variant_id
                        additionalProperties: false
                      - type: "null"
                  options:
                    anyOf:
                      - type: array
                        items:
                          type: object
                          properties:
                            feature_id:
                              type: string
                            quantity:
                              type: number
                            upcoming_quantity:
                              anyOf:
                                - type: number
                                - type: "null"
                            adjustable_quantity:
                              anyOf:
                                - type: boolean
                                - type: "null"
                            internal_feature_id:
                              anyOf:
                                - type: string
                                - type: "null"
                          required:
                            - feature_id
                            - quantity
                          additionalProperties: false
                      - type: "null"
                  total:
                    anyOf:
                      - type: number
                      - type: "null"
                  currency:
                    anyOf:
                      - type: string
                      - type: "null"
                  has_prorations:
                    anyOf:
                      - type: boolean
                      - type: "null"
                  next_cycle:
                    anyOf:
                      - type: object
                        properties:
                          starts_at:
                            type: number
                          total:
                            type: number
                        required:
                          - starts_at
                          - total
                        additionalProperties: false
                      - type: "null"
                required:
                  - customer_id
                  - lines
                additionalProperties: false
      x-codeSamples:
        - lang: TypeScript
          source: >-
            import { Autumn } from 'autumn-js';


            const autumn = new Autumn();


            const { data, error } = await autumn.checkout({ customer_id:
            'customer_id' });
        - lang: Python
          source: >-
            import asyncio

            import os

            from autumn import Autumn


            client = Autumn(
                secret_key=os.environ.get("AUTUMN_SECRET_KEY"),  # This is the default and can be omitted
            )

            response = autumn.checkout(
                customer_id="customer_id",
            )

            print(response.customer_id)
  /cancel:
    post:
      summary: Cancel Product
      description: Cancel a customer's subscription to a product.
      tags:
        - core
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                customer_id:
                  description: The ID of the customer
                  example: cus_123
                  type: string
                product_id:
                  description: The ID of the product to cancel
                  example: pro_plan
                  type: string
                entity_id:
                  description: The ID of the entity (optional)
                  example: entity_123
                  anyOf:
                    - type: string
                    - type: "null"
                cancel_immediately:
                  description: Whether to cancel the product immediately or at period end
                  example: false
                  type: boolean
                prorate:
                  description: Whether to prorate the cancellation (defaults to true if not
                    specified)
                  example: true
                  anyOf:
                    - type: boolean
                    - type: "null"
              required:
                - customer_id
                - product_id
      responses:
        "200":
          description: 200 OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    description: Whether the cancellation was successful
                    example: true
                    type: boolean
                  customer_id:
                    description: The ID of the customer
                    example: cus_123
                    type: string
                  product_id:
                    description: The ID of the canceled product
                    example: pro_plan
                    type: string
                required:
                  - success
                  - customer_id
                  - product_id
                additionalProperties: false
      x-codeSamples:
        - lang: TypeScript
          source: >-
            import { Autumn } from 'autumn-js';


            const autumn = new Autumn();


            const { data, error } = await autumn.cancel({ customer_id:
            'cus_123', product_id: 'pro_plan' });
        - lang: Python
          source: >-
            import asyncio

            import os

            from autumn import Autumn


            client = Autumn(
                secret_key=os.environ.get("AUTUMN_SECRET_KEY"),  # This is the default and can be omitted
            )

            response = autumn.cancel(
                customer_id="cus_123",
                product_id="pro_plan",
            )

            print(response.customer_id)
  /track:
    post:
      summary: Track Event
      tags:
        - core
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                customer_id:
                  description: ID which you provided when creating the customer
                  type: string
                feature_id:
                  description: ID of the feature to track usage for. Required if event_name is not
                    provided. Use this for direct feature tracking.
                  type: string
                event_name:
                  description: An [event name](/features/tracking-usage#using-event-names) can be
                    used in place of feature_id. This can be used if multiple
                    features are tracked in the same event.
                  type: string
                value:
                  description: The amount of usage to record. Defaults to 1. Can be negative to
                    increase the balance (e.g., when removing a seat).
                  type: number
                properties:
                  description: Additional properties to attach to this usage event.
                  type: object
                  propertyNames:
                    type: string
                  additionalProperties: {}
                idempotency_key:
                  description: Unique key to prevent duplicate event recording. Use this to safely
                    retry requests without creating duplicate usage records.
                  type: string
                customer_data:
                  description: Additional customer properties. These will be used to create or
                    update the customer if they don't exist or their properties
                    are not already set.
                  $ref: "#/components/schemas/CustomerData"
                entity_id:
                  description: If using [entity balances](/features/feature-entities) (eg, seats),
                    the entity ID to track usage for.
                  type: string
                overage_behavior:
                  description: How to handle usage when balance is insufficient. 'cap' limits
                    usage to available balance, 'reject' prevents the usage
                    entirely.
                  type: string
                  enum:
                    - cap
                    - reject
              required:
                - customer_id
      responses:
        "200":
          description: 200 OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  customer_id:
                    description: The ID of the customer
                    type: string
                  entity_id:
                    description: The ID of the entity (if provided)
                    type: string
                  event_name:
                    description: The name of the event
                    type: string
                  value:
                    type: number
                  balance:
                    anyOf:
                      - type: object
                        properties:
                          feature_id:
                            type: string
                          feature:
                            type: object
                            properties:
                              id:
                                type: string
                              name:
                                type: string
                              type:
                                type: string
                                enum:
                                  - boolean
                                  - metered
                                  - credit_system
                              consumable:
                                type: boolean
                              event_names:
                                type: array
                                items:
                                  type: string
                              credit_schema:
                                type: array
                                items:
                                  type: object
                                  properties:
                                    metered_feature_id:
                                      type: string
                                    credit_cost:
                                      type: number
                                  required:
                                    - metered_feature_id
                                    - credit_cost
                                  additionalProperties: false
                              display:
                                type: object
                                properties:
                                  singular:
                                    anyOf:
                                      - type: string
                                      - type: "null"
                                  plural:
                                    anyOf:
                                      - type: string
                                      - type: "null"
                                additionalProperties: false
                              archived:
                                type: boolean
                            required:
                              - id
                              - name
                              - type
                              - consumable
                              - archived
                            additionalProperties: false
                          unlimited:
                            type: boolean
                          granted_balance:
                            type: number
                          purchased_balance:
                            type: number
                          current_balance:
                            type: number
                          usage:
                            type: number
                          overage_allowed:
                            type: boolean
                          max_purchase:
                            anyOf:
                              - type: number
                              - type: "null"
                          reset:
                            anyOf:
                              - type: object
                                properties:
                                  interval:
                                    anyOf:
                                      - type: string
                                        enum:
                                          - one_off
                                          - minute
                                          - hour
                                          - day
                                          - week
                                          - month
                                          - quarter
                                          - semi_annual
                                          - year
                                      - type: string
                                        const: multiple
                                  interval_count:
                                    type: number
                                  resets_at:
                                    anyOf:
                                      - type: number
                                      - type: "null"
                                required:
                                  - interval
                                  - resets_at
                                additionalProperties: false
                              - type: "null"
                          plan_id:
                            anyOf:
                              - type: string
                              - type: "null"
                          breakdown:
                            type: array
                            items:
                              type: object
                              properties:
                                id:
                                  default: ""
                                  type: string
                                plan_id:
                                  anyOf:
                                    - type: string
                                    - type: "null"
                                granted_balance:
                                  type: number
                                purchased_balance:
                                  type: number
                                current_balance:
                                  type: number
                                usage:
                                  type: number
                                overage_allowed:
                                  type: boolean
                                max_purchase:
                                  anyOf:
                                    - type: number
                                    - type: "null"
                                reset:
                                  anyOf:
                                    - type: object
                                      properties:
                                        interval:
                                          anyOf:
                                            - type: string
                                              enum:
                                                - one_off
                                                - minute
                                                - hour
                                                - day
                                                - week
                                                - month
                                                - quarter
                                                - semi_annual
                                                - year
                                            - type: string
                                              const: multiple
                                        interval_count:
                                          type: number
                                        resets_at:
                                          anyOf:
                                            - type: number
                                            - type: "null"
                                      required:
                                        - interval
                                        - resets_at
                                      additionalProperties: false
                                    - type: "null"
                                prepaid_quantity:
                                  default: 0
                                  type: number
                                expires_at:
                                  anyOf:
                                    - type: number
                                    - type: "null"
                              required:
                                - id
                                - plan_id
                                - granted_balance
                                - purchased_balance
                                - current_balance
                                - usage
                                - overage_allowed
                                - max_purchase
                                - reset
                                - prepaid_quantity
                                - expires_at
                              additionalProperties: false
                          rollovers:
                            type: array
                            items:
                              type: object
                              properties:
                                balance:
                                  type: number
                                expires_at:
                                  type: number
                              required:
                                - balance
                                - expires_at
                              additionalProperties: false
                        required:
                          - feature_id
                          - unlimited
                          - granted_balance
                          - purchased_balance
                          - current_balance
                          - usage
                          - overage_allowed
                          - max_purchase
                          - reset
                          - plan_id
                        additionalProperties: false
                      - type: "null"
                  balances:
                    type: object
                    propertyNames:
                      type: string
                    additionalProperties:
                      type: object
                      properties:
                        feature_id:
                          type: string
                        feature:
                          type: object
                          properties:
                            id:
                              type: string
                            name:
                              type: string
                            type:
                              type: string
                              enum:
                                - boolean
                                - metered
                                - credit_system
                            consumable:
                              type: boolean
                            event_names:
                              type: array
                              items:
                                type: string
                            credit_schema:
                              type: array
                              items:
                                type: object
                                properties:
                                  metered_feature_id:
                                    type: string
                                  credit_cost:
                                    type: number
                                required:
                                  - metered_feature_id
                                  - credit_cost
                                additionalProperties: false
                            display:
                              type: object
                              properties:
                                singular:
                                  anyOf:
                                    - type: string
                                    - type: "null"
                                plural:
                                  anyOf:
                                    - type: string
                                    - type: "null"
                              additionalProperties: false
                            archived:
                              type: boolean
                          required:
                            - id
                            - name
                            - type
                            - consumable
                            - archived
                          additionalProperties: false
                        unlimited:
                          type: boolean
                        granted_balance:
                          type: number
                        purchased_balance:
                          type: number
                        current_balance:
                          type: number
                        usage:
                          type: number
                        overage_allowed:
                          type: boolean
                        max_purchase:
                          anyOf:
                            - type: number
                            - type: "null"
                        reset:
                          anyOf:
                            - type: object
                              properties:
                                interval:
                                  anyOf:
                                    - type: string
                                      enum:
                                        - one_off
                                        - minute
                                        - hour
                                        - day
                                        - week
                                        - month
                                        - quarter
                                        - semi_annual
                                        - year
                                    - type: string
                                      const: multiple
                                interval_count:
                                  type: number
                                resets_at:
                                  anyOf:
                                    - type: number
                                    - type: "null"
                              required:
                                - interval
                                - resets_at
                              additionalProperties: false
                            - type: "null"
                        plan_id:
                          anyOf:
                            - type: string
                            - type: "null"
                        breakdown:
                          type: array
                          items:
                            type: object
                            properties:
                              id:
                                default: ""
                                type: string
                              plan_id:
                                anyOf:
                                  - type: string
                                  - type: "null"
                              granted_balance:
                                type: number
                              purchased_balance:
                                type: number
                              current_balance:
                                type: number
                              usage:
                                type: number
                              overage_allowed:
                                type: boolean
                              max_purchase:
                                anyOf:
                                  - type: number
                                  - type: "null"
                              reset:
                                anyOf:
                                  - type: object
                                    properties:
                                      interval:
                                        anyOf:
                                          - type: string
                                            enum:
                                              - one_off
                                              - minute
                                              - hour
                                              - day
[...]
