{
  "openapi": "3.1.0",
  "info": {
    "title": "Autumn API",
    "version": "1.2.0"
  },
  "servers": [
    {
      "url": "https://api.useautumn.com",
      "description": "Production server"
    }
  ],
  "security": [
    {
      "secretKey": []
    }
  ],
  "paths": {
    "/products": {
      "post": {
        "summary": "Create Product",
        "tags": [
          "products"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateProductParams"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200 OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Product"
                }
              }
            }
          }
        }
      },
      "patch": {
        "summary": "Update Product",
        "tags": [
          "products"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateProductParams"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200 OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Product"
                }
              }
            }
          }
        }
      }
    },
    "/core": {
      "/attach": {
        "post": {
          "summary": "Attach Product",
          "tags": [
            "core"
          ],
          "requestBody": {
            "content": {
              "application/json": {
                "schema": {
                  "~standard": {
                    "vendor": "zod",
                    "version": 1
                  },
                  "def": {
                    "type": "object",
                    "shape": {
                      "customer_id": {
                        "~standard": {
                          "vendor": "zod",
                          "version": 1
                        },
                        "def": {
                          "type": "string"
                        },
                        "format": null,
                        "minLength": null,
                        "maxLength": null
                      },
                      "customer_data": {
                        "~standard": {
                          "vendor": "zod",
                          "version": 1
                        },
                        "def": {
                          "type": "optional",
                          "innerType": {
                            "~standard": {
                              "vendor": "zod",
                              "version": 1
                            },
                            "def": {
                              "type": "nullable",
                              "innerType": {
                                "~standard": {
                                  "vendor": "zod",
                                  "version": 1
                                },
                                "def": {
                                  "type": "any"
                                }
                              }
                            }
                          }
                        }
                      },
                      "entity_id": {
                        "~standard": {
                          "vendor": "zod",
                          "version": 1
                        },
                        "def": {
                          "type": "optional",
                          "innerType": {
                            "~standard": {
                              "vendor": "zod",
                              "version": 1
                            },
                            "def": {
                              "type": "nullable",
                              "innerType": {
                                "~standard": {
                                  "vendor": "zod",
                                  "version": 1
                                },
                                "def": {
                                  "type": "string"
                                },
                                "format": null,
                                "minLength": null,
                                "maxLength": null
                              }
                            }
                          }
                        }
                      },
                      "entity_data": {
                        "~standard": {
                          "vendor": "zod",
                          "version": 1
                        },
                        "def": {
                          "type": "optional",
                          "innerType": {
                            "~standard": {
                              "vendor": "zod",
                              "version": 1
                            },
                            "def": {
                              "type": "nullable",
                              "innerType": {
                                "~standard": {
                                  "vendor": "zod",
                                  "version": 1
                                },
                                "def": {
                                  "type": "any"
                                }
                              }
                            }
                          }
                        }
                      },
                      "product_id": {
                        "~standard": {
                          "vendor": "zod",
                          "version": 1
                        },
                        "def": {
                          "type": "optional",
                          "innerType": {
                            "~standard": {
                              "vendor": "zod",
                              "version": 1
                            },
                            "def": {
                              "type": "nullable",
                              "innerType": {
                                "~standard": {
                                  "vendor": "zod",
                                  "version": 1
                                },
                                "def": {
                                  "type": "string"
                                },
                                "format": null,
                                "minLength": null,
                                "maxLength": null
                              }
                            }
                          }
                        }
                      },
                      "product_ids": {
                        "~standard": {
                          "vendor": "zod",
                          "version": 1
                        },
                        "def": {
                          "type": "optional",
                          "innerType": {
                            "~standard": {
                              "vendor": "zod",
                              "version": 1
                            },
                            "def": {
                              "type": "nullable",
                              "innerType": {
                                "~standard": {
                                  "vendor": "zod",
                                  "version": 1
                                },
                                "def": {
                                  "type": "array",
                                  "element": {
                                    "~standard": {
                                      "vendor": "zod",
                                      "version": 1
                                    },
                                    "def": {
                                      "type": "string"
                                    },
                                    "format": null,
                                    "minLength": null,
                                    "maxLength": null
                                  },
                                  "checks": [
                                    {}
                                  ]
                                },
                                "element": {
                                  "~standard": {
                                    "vendor": "zod",
                                    "version": 1
                                  },
                                  "def": {
                                    "type": "string"
                                  },
                                  "format": null,
                                  "minLength": null,
                                  "maxLength": null
                                }
                              }
                            }
                          }
                        }
                      },
                      "options": {
                        "~standard": {
                          "vendor": "zod",
                          "version": 1
                        },
                        "def": {
                          "type": "optional",
                          "innerType": {
                            "~standard": {
                              "vendor": "zod",
                              "version": 1
                            },
                            "def": {
                              "type": "nullable",
                              "innerType": {
                                "~standard": {
                                  "vendor": "zod",
                                  "version": 1
                                },
                                "def": {
                                  "type": "array",
                                  "element": {
                                    "~standard": {
                                      "vendor": "zod",
                                      "version": 1
                                    },
                                    "def": {
                                      "type": "object",
                                      "shape": {
                                        "feature_id": {
                                          "~standard": {
                                            "vendor": "zod",
                                            "version": 1
                                          },
                                          "def": {
                                            "type": "string"
                                          },
                                          "format": null,
                                          "minLength": null,
                                          "maxLength": null
                                        },
                                        "quantity": {
                                          "~standard": {
                                            "vendor": "zod",
                                            "version": 1
                                          },
                                          "def": {
                                            "type": "number",
                                            "checks": []
                                          },
                                          "minValue": null,
                                          "maxValue": null,
                                          "isInt": false,
                                          "isFinite": true,
                                          "format": null
                                        },
                                        "upcoming_quantity": {
                                          "~standard": {
                                            "vendor": "zod",
                                            "version": 1
                                          },
                                          "def": {
                                            "type": "optional",
                                            "innerType": {
                                              "~standard": {
                                                "vendor": "zod",
                                                "version": 1
                                              },
                                              "def": {
                                                "type": "nullable",
                                                "innerType": {
                                                  "~standard": {
                                                    "vendor": "zod",
                                                    "version": 1
                                                  },
                                                  "def": {
                                                    "type": "number",
                                                    "checks": []
                                                  },
                                                  "minValue": null,
                                                  "maxValue": null,
                                                  "isInt": false,
                                                  "isFinite": true,
                                                  "format": null
                                                }
                                              }
                                            }
                                          }
                                        },
                                        "adjustable_quantity": {
                                          "~standard": {
                                            "vendor": "zod",
                                            "version": 1
                                          },
                                          "def": {
                                            "type": "optional",
                                            "innerType": {
                                              "~standard": {
                                                "vendor": "zod",
                                                "version": 1
                                              },
                                              "def": {
                                                "type": "nullable",
                                                "innerType": {
                                                  "~standard": {
                                                    "vendor": "zod",
                                                    "version": 1
                                                  },
                                                  "def": {
                                                    "type": "boolean"
                                                  }
                                                }
                                              }
                                            }
                                          }
                                        },
                                        "internal_feature_id": {
                                          "~standard": {
                                            "vendor": "zod",
                                            "version": 1
                                          },
                                          "def": {
                                            "type": "optional",
                                            "innerType": {
                                              "~standard": {
                                                "vendor": "zod",
                                                "version": 1
                                              },
                                              "def": {
                                                "type": "nullable",
                                                "innerType": {
                                                  "~standard": {
                                                    "vendor": "zod",
                                                    "version": 1
                                                  },
                                                  "def": {
                                                    "type": "string"
                                                  },
                                                  "format": null,
                                                  "minLength": null,
                                                  "maxLength": null
                                                }
                                              }
                                            }
                                          }
                                        }
                                      }
                                    }
                                  }
                                },
                                "element": {
                                  "~standard": {
                                    "vendor": "zod",
                                    "version": 1
                                  },
                                  "def": {
                                    "type": "object",
                                    "shape": {
                                      "feature_id": {
                                        "~standard": {
                                          "vendor": "zod",
                                          "version": 1
                                        },
                                        "def": {
                                          "type": "string"
                                        },
                                        "format": null,
                                        "minLength": null,
                                        "maxLength": null
                                      },
                                      "quantity": {
                                        "~standard": {
                                          "vendor": "zod",
                                          "version": 1
                                        },
                                        "def": {
                                          "type": "number",
                                          "checks": []
                                        },
                                        "minValue": null,
                                        "maxValue": null,
                                        "isInt": false,
                                        "isFinite": true,
                                        "format": null
                                      },
                                      "upcoming_quantity": {
                                        "~standard": {
                                          "vendor": "zod",
                                          "version": 1
                                        },
                                        "def": {
                                          "type": "optional",
                                          "innerType": {
                                            "~standard": {
                                              "vendor": "zod",
                                              "version": 1
                                            },
                                            "def": {
                                              "type": "nullable",
                                              "innerType": {
                                                "~standard": {
                                                  "vendor": "zod",
                                                  "version": 1
                                                },
                                                "def": {
                                                  "type": "number",
                                                  "checks": []
                                                },
                                                "minValue": null,
                                                "maxValue": null,
                                                "isInt": false,
                                                "isFinite": true,
                                                "format": null
                                              }
                                            }
                                          }
                                        }
                                      },
                                      "adjustable_quantity": {
                                        "~standard": {
                                          "vendor": "zod",
                                          "version": 1
                                        },
                                        "def": {
                                          "type": "optional",
                                          "innerType": {
                                            "~standard": {
                                              "vendor": "zod",
                                              "version": 1
                                            },
                                            "def": {
                                              "type": "nullable",
                                              "innerType": {
                                                "~standard": {
                                                  "vendor": "zod",
                                                  "version": 1
                                                },
                                                "def": {
                                                  "type": "boolean"
                                                }
                                              }
                                            }
                                          }
                                        }
                                      },
                                      "internal_feature_id": {
                                        "~standard": {
                                          "vendor": "zod",
                                          "version": 1
                                        },
                                        "def": {
                                          "type": "optional",
                                          "innerType": {
                                            "~standard": {
                                              "vendor": "zod",
                                              "version": 1
                                            },
                                            "def": {
                                              "type": "nullable",
                                              "innerType": {
                                                "~standard": {
                                                  "vendor": "zod",
                                                  "version": 1
                                                },
                                                "def": {
                                                  "type": "string"
                                                },
                                                "format": null,
                                                "minLength": null,
                                                "maxLength": null
                                              }
                                            }
                                          }
                                        }
                                      }
                                    }
                                  }
                                }
                              }
                            }
                          }
                        }
                      },
                      "free_trial": {
                        "~standard": {
                          "vendor": "zod",
                          "version": 1
                        },
                        "def": {
                          "type": "boolean"
                        }
                      },
                      "success_url": {
                        "~standard": {
                          "vendor": "zod",
                          "version": 1
                        },
                        "def": {
                          "type": "optional",
                          "innerType": {
                            "~standard": {
                              "vendor": "zod",
                              "version": 1
                            },
                            "def": {
                              "type": "string"
                            },
                            "format": null,
                            "minLength": null,
                            "maxLength": null
                          }
                        }
                      },
                      "force_checkout": {
                        "~standard": {
                          "vendor": "zod",
                          "version": 1
                        },
                        "def": {
                          "type": "optional",
                          "innerType": {
                            "~standard": {
                              "vendor": "zod",
                              "version": 1
                            },
                            "def": {
                              "type": "boolean"
                            }
                          }
                        }
                      },
                      "checkout_session_params": {
                        "~standard": {
                          "vendor": "zod",
                          "version": 1
                        },
                        "def": {
                          "type": "optional",
                          "innerType": {
                            "~standard": {
                              "vendor": "zod",
                              "version": 1
                            },
                            "def": {
                              "type": "any"
                            }
                          }
                        }
                      },
                      "reward": {
                        "~standard": {
                          "vendor": "zod",
                          "version": 1
                        },
                        "def": {
                          "type": "optional",
                          "innerType": {
                            "~standard": {
                              "vendor": "zod",
                              "version": 1
                            },
                            "def": {
                              "type": "union",
                              "options": [
                                {
                                  "~standard": {
                                    "vendor": "zod",
                                    "version": 1
                                  },
                                  "def": {
                                    "type": "string"
                                  },
                                  "format": null,
                                  "minLength": null,
                                  "maxLength": null
                                },
                                {
                                  "~standard": {
                                    "vendor": "zod",
                                    "version": 1
                                  },
                                  "def": {
                                    "type": "array",
                                    "element": {
                                      "~standard": {
                                        "vendor": "zod",
                                        "version": 1
                                      },
                                      "def": {
                                        "type": "string"
                                      },
                                      "format": null,
                                      "minLength": null,
                                      "maxLength": null
                                    }
                                  },
                                  "element": {
                                    "~standard": {
                                      "vendor": "zod",
                                      "version": 1
                                    },
                                    "def": {
                                      "type": "string"
                                    },
                                    "format": null,
                                    "minLength": null,
                                    "maxLength": null
                                  }
                                }
                              ]
                            },
                            "options": [
                              {
                                "~standard": {
                                  "vendor": "zod",
                                  "version": 1
                                },
                                "def": {
                                  "type": "string"
                                },
                                "format": null,
                                "minLength": null,
                                "maxLength": null
                              },
                              {
                                "~standard": {
                                  "vendor": "zod",
                                  "version": 1
                                },
                                "def": {
                                  "type": "array",
                                  "element": {
                                    "~standard": {
                                      "vendor": "zod",
                                      "version": 1
                                    },
                                    "def": {
                                      "type": "string"
                                    },
                                    "format": null,
                                    "minLength": null,
                                    "maxLength": null
                                  }
                                },
                                "element": {
                                  "~standard": {
                                    "vendor": "zod",
                                    "version": 1
                                  },
                                  "def": {
                                    "type": "string"
                                  },
                                  "format": null,
                                  "minLength": null,
                                  "maxLength": null
                                }
                              }
                            ]
                          }
                        }
                      },
                      "invoice": {
                        "~standard": {
                          "vendor": "zod",
                          "version": 1
                        },
                        "def": {
                          "type": "optional",
                          "innerType": {
                            "~standard": {
                              "vendor": "zod",
                              "version": 1
                            },
                            "def": {
                              "type": "boolean"
                            }
                          }
                        }
                      },
                      "skip_checkout": {
                        "~standard": {
                          "vendor": "zod",
                          "version": 1
                        },
                        "def": {
                          "type": "optional",
                          "innerType": {
                            "~standard": {
                              "vendor": "zod",
                              "version": 1
                            },
                            "def": {
                              "type": "boolean"
                            }
                          }
                        }
                      },
                      "setup_payment": {
                        "~standard": {
                          "vendor": "zod",
                          "version": 1
                        },
                        "def": {
                          "type": "optional",
                          "innerType": {
                            "~standard": {
                              "vendor": "zod",
                              "version": 1
                            },
                            "def": {
                              "type": "boolean"
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "responses": {
            "200": {
              "description": "200 OK",
              "content": {
                "application/json": {
                  "schema": {
                    "~standard": {
                      "vendor": "zod",
                      "version": 1
                    },
                    "def": {
                      "type": "object",
                      "shape": {
                        "customer_id": {
                          "~standard": {
                            "vendor": "zod",
                            "version": 1
                          },
                          "def": {
                            "type": "string"
                          },
                          "format": null,
                          "minLength": null,
                          "maxLength": null
                        },
                        "product_ids": {
                          "~standard": {
                            "vendor": "zod",
                            "version": 1
                          },
                          "def": {
                            "type": "array",
                            "element": {
                              "~standard": {
                                "vendor": "zod",
                                "version": 1
                              },
                              "def": {
                                "type": "string"
                              },
                              "format": null,
                              "minLength": null,
                              "maxLength": null
                            }
                          },
                          "element": {
                            "~standard": {
                              "vendor": "zod",
                              "version": 1
                            },
                            "def": {
                              "type": "string"
                            },
                            "format": null,
                            "minLength": null,
                            "maxLength": null
                          }
                        },
                        "code": {
                          "~standard": {
                            "vendor": "zod",
                            "version": 1
                          },
                          "def": {
                            "type": "string"
                          },
                          "format": null,
                          "minLength": null,
                          "maxLength": null
                        },
                        "message": {
                          "~standard": {
                            "vendor": "zod",
                            "version": 1
                          },
                          "def": {
                            "type": "string"
                          },
                          "format": null,
                          "minLength": null,
                          "maxLength": null
                        },
                        "checkout_url": {
                          "~standard": {
                            "vendor": "zod",
                            "version": 1
                          },
                          "def": {
                            "type": "optional",
                            "innerType": {
                              "~standard": {
                                "vendor": "zod",
                                "version": 1
                              },
                              "def": {
                                "type": "nullable",
                                "innerType": {
                                  "~standard": {
                                    "vendor": "zod",
                                    "version": 1
                                  },
                                  "def": {
                                    "type": "string"
                                  },
                                  "format": null,
                                  "minLength": null,
                                  "maxLength": null
                                }
                              }
                            }
                          }
                        },
                        "invoice": {
                          "~standard": {
                            "vendor": "zod",
                            "version": 1
                          },
                          "def": {
                            "type": "optional",
                            "innerType": {
                              "~standard": {
                                "vendor": "zod",
                                "version": 1
                              },
                              "def": {
                                "type": "nullable",
                                "innerType": {
                                  "~standard": {
                                    "vendor": "zod",
                                    "version": 1
                                  },
                                  "def": {
                                    "type": "any"
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "/checkout": {
        "post": {
          "summary": "Checkout",
          "tags": [
            "core"
          ],
          "requestBody": {
            "content": {
              "application/json": {
                "schema": {
                  "~standard": {
                    "vendor": "zod",
                    "version": 1
                  },
                  "def": {
                    "type": "object",
                    "shape": {
                      "customer_id": {
                        "~standard": {
                          "vendor": "zod",
                          "version": 1
                        },
                        "def": {
                          "type": "string"
                        },
                        "format": null,
                        "minLength": null,
                        "maxLength": null
                      },
                      "customer_data": {
                        "~standard": {
                          "vendor": "zod",
                          "version": 1
                        },
                        "def": {
                          "type": "optional",
                          "innerType": {
                            "~standard": {
                              "vendor": "zod",
                              "version": 1
                            },
                            "def": {
                              "type": "nullable",
                              "innerType": {
                                "~standard": {
                                  "vendor": "zod",
                                  "version": 1
                                },
                                "def": {
                                  "type": "any"
                                }
                              }
                            }
                          }
                        }
                      },
                      "entity_id": {
                        "~standard": {
                          "vendor": "zod",
                          "version": 1
                        },
                        "def": {
                          "type": "optional",
                          "innerType": {
                            "~standard": {
                              "vendor": "zod",
                              "version": 1
                            },
                            "def": {
                              "type": "nullable",
                              "innerType": {
                                "~standard": {
                                  "vendor": "zod",
                                  "version": 1
                                },
                                "def": {
                                  "type": "string"
                                },
                                "format": null,
                                "minLength": null,
                                "maxLength": null
                              }
                            }
                          }
                        }
                      },
                      "entity_data": {
                        "~standard": {
                          "vendor": "zod",
                          "version": 1
                        },
                        "def": {
                          "type": "optional",
                          "innerType": {
                            "~standard": {
                              "vendor": "zod",
                              "version": 1
                            },
                            "def": {
                              "type": "nullable",
                              "innerType": {
                                "~standard": {
                                  "vendor": "zod",
                                  "version": 1
                                },
                                "def": {
                                  "type": "any"
                                }
                              }
                            }
                          }
                        }
                      },
                      "product_id": {
                        "~standard": {
                          "vendor": "zod",
                          "version": 1
                        },
                        "def": {
                          "type": "optional",
                          "innerType": {
                            "~standard": {
                              "vendor": "zod",
                              "version": 1
                            },
                            "def": {
                              "type": "nullable",
                              "innerType": {
                                "~standard": {
                                  "vendor": "zod",
                                  "version": 1
                                },
                                "def": {
                                  "type": "string"
                                },
                                "format": null,
                                "minLength": null,
                                "maxLength": null
                              }
                            }
                          }
                        }
                      },
                      "product_ids": {
                        "~standard": {
                          "vendor": "zod",
                          "version": 1
                        },
                        "def": {
                          "type": "optional",
                          "innerType": {
                            "~standard": {
                              "vendor": "zod",
                              "version": 1
                            },
                            "def": {
                              "type": "nullable",
                              "innerType": {
                                "~standard": {
                                  "vendor": "zod",
                                  "version": 1
                                },
                                "def": {
                                  "type": "array",
                                  "element": {
                                    "~standard": {
                                      "vendor": "zod",
                                      "version": 1
                                    },
                                    "def": {
                                      "type": "string"
                                    },
                                    "format": null,
                                    "minLength": null,
                                    "maxLength": null
                                  },
                                  "checks": [
                                    {}
                                  ]
                                },
                                "element": {
                                  "~standard": {
                                    "vendor": "zod",
                                    "version": 1
                                  },
                                  "def": {
                                    "type": "string"
                                  },
                                  "format": null,
                                  "minLength": null,
                                  "maxLength": null
                                }
                              }
                            }
                          }
                        }
                      },
                      "options": {
                        "~standard": {
                          "vendor": "zod",
                          "version": 1
                        },
                        "def": {
                          "type": "optional",
                          "innerType": {
                            "~standard": {
                              "vendor": "zod",
                              "version": 1
                            },
                            "def": {
                              "type": "nullable",
                              "innerType": {
                                "~standard": {
                                  "vendor": "zod",
                                  "version": 1
                                },
                                "def": {
                                  "type": "array",
                                  "element": {
                                    "~standard": {
                                      "vendor": "zod",
                                      "version": 1
                                    },
                                    "def": {
                                      "type": "object",
                                      "shape": {
                                        "feature_id": {
                                          "~standard": {
                                            "vendor": "zod",
                                            "version": 1
                                          },
                                          "def": {
                                            "type": "string"
                                          },
                                          "format": null,
                                          "minLength": null,
                                          "maxLength": null
                                        },
                                        "quantity": {
                                          "~standard": {
                                            "vendor": "zod",
                                            "version": 1
                                          },
                                          "def": {
                                            "type": "number",
                                            "checks": []
                                          },
                                          "minValue": null,
                                          "maxValue": null,
                                          "isInt": false,
                                          "isFinite": true,
                                          "format": null
                                        },
                                        "upcoming_quantity": {
                                          "~standard": {
                                            "vendor": "zod",
                                            "version": 1
                                          },
                                          "def": {
                                            "type": "optional",
                                            "innerType": {
                                              "~standard": {
                                                "vendor": "zod",
                                                "version": 1
                                              },
                                              "def": {
                                                "type": "nullable",
                                                "innerType": {
                                                  "~standard": {
                                                    "vendor": "zod",
                                                    "version": 1
                                                  },
                                                  "def": {
                                                    "type": "number",
                                                    "checks": []
                                                  },
                                                  "minValue": null,
                                                  "maxValue": null,
                                                  "isInt": false,
                                                  "isFinite": true,
                                                  "format": null
                                                }
                                              }
                                            }
                                          }
                                        },
                                        "adjustable_quantity": {
                                          "~standard": {
                                            "vendor": "zod",
                                            "version": 1
                                          },
                                          "def": {
                                            "type": "optional",
                                            "innerType": {
                                              "~standard": {
                                                "vendor": "zod",
                                                "version": 1
                                              },
                                              "def": {
                                                "type": "nullable",
                                                "innerType": {
                                                  "~standard": {
                                                    "vendor": "zod",
                                                    "version": 1
                                                  },
                                                  "def": {
                                                    "type": "boolean"
                                                  }
                                                }
                                              }
                                            }
                                          }
                                        },
                                        "internal_feature_id": {
                                          "~standard": {
                                            "vendor": "zod",
                                            "version": 1
                                          },
                                          "def": {
                                            "type": "optional",
                                            "innerType": {
                                              "~standard": {
                                                "vendor": "zod",
                                                "version": 1
                                              },
                                              "def": {
                                                "type": "nullable",
                                                "innerType": {
                                                  "~standard": {
                                                    "vendor": "zod",
                                                    "version": 1
                                                  },
                                                  "def": {
                                                    "type": "string"
                                                  },
                                                  "format": null,
                                                  "minLength": null,
                                                  "maxLength": null
                                                }
                                              }
                                            }
                                          }
                                        }
                                      }
                                    }
                                  }
                                },
                                "element": {
                                  "~standard": {
                                    "vendor": "zod",
                                    "version": 1
                                  },
                                  "def": {
                                    "type": "object",
                                    "shape": {
                                      "feature_id": {
                                        "~standard": {
                                          "vendor": "zod",
                                          "version": 1
                                        },
                                        "def": {
                                          "type": "string"
                                        },
                                        "format": null,
                                        "minLength": null,
                                        "maxLength": null
                                      },
                                      "quantity": {
                                        "~standard": {
                                          "vendor": "zod",
                                          "version": 1
                                        },
                                        "def": {
                                          "type": "number",
                                          "checks": []
                                        },
                                        "minValue": null,
                                        "maxValue": null,
                                        "isInt": false,
                                        "isFinite": true,
                                        "format": null
                                      },
                                      "upcoming_quantity": {
                                        "~standard": {
                                          "vendor": "zod",
                                          "version": 1
                                        },
                                        "def": {
                                          "type": "optional",
                                          "innerType": {
                                            "~standard": {
                                              "vendor": "zod",
                                              "version": 1
                                            },
                                            "def": {
                                              "type": "nullable",
                                              "innerType": {
                                                "~standard": {
                                                  "vendor": "zod",
                                                  "version": 1
                                                },
                                                "def": {
                                                  "type": "number",
                                                  "checks": []
                                                },
                                                "minValue": null,
                                                "maxValue": null,
                                                "isInt": false,
                                                "isFinite": true,
                                                "format": null
                                              }
                                            }
                                          }
                                        }
                                      },
                                      "adjustable_quantity": {
                                        "~standard": {
                                          "vendor": "zod",
                                          "version": 1
                                        },
                                        "def": {
                                          "type": "optional",
                                          "innerType": {
                                            "~standard": {
                                              "vendor": "zod",
                                              "version": 1
                                            },
                                            "def": {
                                              "type": "nullable",
                                              "innerType": {
                                                "~standard": {
                                                  "vendor": "zod",
                                                  "version": 1
                                                },
                                                "def": {
                                                  "type": "boolean"
                                                }
                                              }
                                            }
                                          }
                                        }
                                      },
                                      "internal_feature_id": {
                                        "~standard": {
                                          "vendor": "zod",
                                          "version": 1
                                        },
                                        "def": {
                                          "type": "optional",
                                          "innerType": {
                                            "~standard": {
                                              "vendor": "zod",
                                              "version": 1
                                            },
                                            "def": {
                                              "type": "nullable",
                                              "innerType": {
                                                "~standard": {
                                                  "vendor": "zod",
                                                  "version": 1
                                                },
                                                "def": {
                                                  "type": "string"
                                                },
                                                "format": null,
                                                "minLength": null,
                                                "maxLength": null
                                              }
                                            }
                                          }
                                        }
                                      }
                                    }
                                  }
                                }
                              }
                            }
                          }
                        }
                      },
                      "free_trial": {
                        "~standard": {
                          "vendor": "zod",
                          "version": 1
                        },
                        "def": {
                          "type": "boolean"
                        }
                      },
                      "success_url": {
                        "~standard": {
                          "vendor": "zod",
                          "version": 1
                        },
                        "def": {
                          "type": "optional",
                          "innerType": {
                            "~standard": {
                              "vendor": "zod",
                              "version": 1
                            },
                            "def": {
                              "type": "string"
                            },
                            "format": null,
                            "minLength": null,
                            "maxLength": null
                          }
                        }
                      },
                      "force_checkout": {
                        "~standard": {
                          "vendor": "zod",
                          "version": 1
                        },
                        "def": {
                          "type": "optional",
                          "innerType": {
                            "~standard": {
                              "vendor": "zod",
                              "version": 1
                            },
                            "def": {
                              "type": "boolean"
                            }
                          }
                        }
                      },
                      "checkout_session_params": {
                        "~standard": {
                          "vendor": "zod",
                          "version": 1
                        },
                        "def": {
                          "type": "optional",
                          "innerType": {
                            "~standard": {
                              "vendor": "zod",
                              "version": 1
                            },
                            "def": {
                              "type": "any"
                            }
                          }
                        }
                      },
                      "reward": {
                        "~standard": {
                          "vendor": "zod",
                          "version": 1
                        },
                        "def": {
                          "type": "optional",
                          "innerType": {
                            "~standard": {
                              "vendor": "zod",
                              "version": 1
                            },
                            "def": {
                              "type": "union",
                              "options": [
                                {
                                  "~standard": {
                                    "vendor": "zod",
                                    "version": 1
                                  },
                                  "def": {
                                    "type": "string"
                                  },
                                  "format": null,
                                  "minLength": null,
                                  "maxLength": null
                                },
                                {
                                  "~standard": {
                                    "vendor": "zod",
                                    "version": 1
                                  },
                                  "def": {
                                    "type": "array",
                                    "element": {
                                      "~standard": {
                                        "vendor": "zod",
                                        "version": 1
                                      },
                                      "def": {
                                        "type": "string"
                                      },
                                      "format": null,
                                      "minLength": null,
                                      "maxLength": null
                                    }
                                  },
                                  "element": {
                                    "~standard": {
                                      "vendor": "zod",
                                      "version": 1
                                    },
                                    "def": {
                                      "type": "string"
                                    },
                                    "format": null,
                                    "minLength": null,
                                    "maxLength": null
                                  }
                                }
                              ]
                            },
                            "options": [
                              {
                                "~standard": {
                                  "vendor": "zod",
                                  "version": 1
                                },
                                "def": {
                                  "type": "string"
                                },
                                "format": null,
                                "minLength": null,
                                "maxLength": null
                              },
                              {
                                "~standard": {
                                  "vendor": "zod",
                                  "version": 1
                                },
                                "def": {
                                  "type": "array",
                                  "element": {
                                    "~standard": {
                                      "vendor": "zod",
                                      "version": 1
                                    },
                                    "def": {
                                      "type": "string"
                                    },
                                    "format": null,
                                    "minLength": null,
                                    "maxLength": null
                                  }
                                },
                                "element": {
                                  "~standard": {
                                    "vendor": "zod",
                                    "version": 1
                                  },
                                  "def": {
                                    "type": "string"
                                  },
                                  "format": null,
                                  "minLength": null,
                                  "maxLength": null
                                }
                              }
                            ]
                          }
                        }
                      },
                      "invoice": {
                        "~standard": {
                          "vendor": "zod",
                          "version": 1
                        },
                        "def": {
                          "type": "optional",
                          "innerType": {
                            "~standard": {
                              "vendor": "zod",
                              "version": 1
                            },
                            "def": {
                              "type": "boolean"
                            }
                          }
                        }
                      },
                      "skip_checkout": {
                        "~standard": {
                          "vendor": "zod",
                          "version": 1
                        },
                        "def": {
                          "type": "optional",
                          "innerType": {
                            "~standard": {
                              "vendor": "zod",
                              "version": 1
                            },
                            "def": {
                              "type": "boolean"
                            }
                          }
                        }
                      },
                      "setup_payment": {
                        "~standard": {
                          "vendor": "zod",
                          "version": 1
                        },
                        "def": {
                          "type": "optional",
                          "innerType": {
                            "~standard": {
                              "vendor": "zod",
                              "version": 1
                            },
                            "def": {
                              "type": "boolean"
                            }
                          }
                        }
                      }
                    },
                    "checks": []
                  }
                }
              }
            }
          },
          "responses": {
            "200": {
              "description": "200 OK",
              "content": {
                "application/json": {
                  "schema": {
                    "~standard": {
                      "vendor": "zod",
                      "version": 1
                    },
                    "def": {
                      "type": "object",
                      "shape": {
                        "url": {
                          "~standard": {
                            "vendor": "zod",
                            "version": 1
                          },
                          "def": {
                            "type": "optional",
                            "innerType": {
                              "~standard": {
                                "vendor": "zod",
                                "version": 1
                              },
                              "def": {
                                "type": "nullable",
                                "innerType": {
                                  "~standard": {
                                    "vendor": "zod",
                                    "version": 1
                                  },
                                  "def": {
                                    "type": "string"
                                  },
                                  "format": null,
                                  "minLength": null,
                                  "maxLength": null
                                }
                              }
                            }
                          }
                        },
                        "customer_id": {
                          "~standard": {
                            "vendor": "zod",
                            "version": 1
                          },
                          "def": {
                            "type": "string"
                          },
                          "format": null,
                          "minLength": null,
                          "maxLength": null
                        },
                        "lines": {
                          "~standard": {
                            "vendor": "zod",
                            "version": 1
                          },
                          "def": {
                            "type": "array",
                            "element": {
                              "~standard": {
                                "vendor": "zod",
                                "version": 1
                              },
                              "def": {
                                "type": "object",
                                "shape": {
                                  "description": {
                                    "~standard": {
                                      "vendor": "zod",
                                      "version": 1
                                    },
                                    "def": {
                                      "type": "string"
                                    },
                                    "format": null,
                                    "minLength": null,
                                    "maxLength": null
                                  },
                                  "amount": {
                                    "~standard": {
                                      "vendor": "zod",
                                      "version": 1
                                    },
                                    "def": {
                                      "type": "number",
                                      "checks": []
                                    },
                                    "minValue": null,
                                    "maxValue": null,
                                    "isInt": false,
                                    "isFinite": true,
                                    "format": null
                                  },
                                  "item": {
                                    "~standard": {
                                      "vendor": "zod",
                                      "version": 1
                                    },
                                    "def": {
                                      "type": "optional",
                                      "innerType": {
                                        "~standard": {
                                          "vendor": "zod",
                                          "version": 1
                                        },
                                        "def": {
                                          "type": "nullable",
                                          "innerType": {
                                            "~standard": {
                                              "vendor": "zod",
                                              "version": 1
                                            },
                                            "def": {
                                              "type": "object",
                                              "shape": {
                                                "type": {
                                                  "~standard": {
                                                    "vendor": "zod",
                                                    "version": 1
                                                  },
                                                  "def": {
                                                    "type": "optional",
                                                    "innerType": {
                                                      "~standard": {
                                                        "vendor": "zod",
                                                        "version": 1
                                                      },
                                                      "def": {
                                                        "type": "nullable",
                                                        "innerType": {
                                                          "~standard": {
                                                            "vendor": "zod",
                                                            "version": 1
                                                          },
                                                          "def": {
                                                            "type": "enum",
                                                            "entries": {
                                                              "Feature": "feature",
                                                              "FeaturePrice": "priced_feature",
                                                              "Price": "price"
                                                            }
                                                          },
                                                          "enum": {
                                                            "Feature": "feature",
                                                            "FeaturePrice": "priced_feature",
                                                            "Price": "price"
                                                          },
                                                          "options": [
                                                            "feature",
                                                            "priced_feature",
                                                            "price"
                                                          ]
                                                        }
                                                      }
                                                    }
                                                  }
                                                },
                                                "feature_id": {
                                                  "~standard": {
                                                    "vendor": "zod",
                                                    "version": 1
                                                  },
                                                  "def": {
                                                    "type": "optional",
                                                    "innerType": {
                                                      "~standard": {
                                                        "vendor": "zod",
                                                        "version": 1
                                                      },
                                                      "def": {
                                                        "type": "nullable",
                                                        "innerType": {
                                                          "~standard": {
                                                            "vendor": "zod",
                                                            "version": 1
                                                          },
                                                          "def": {
                                                            "type": "string"
                                                          },
                                                          "format": null,
                                                          "minLength": null,
                                                          "maxLength": null
                                                        }
                                                      }
                                                    }
                                                  }
                                                },
                                                "feature_type": {
                                                  "~standard": {
                                                    "vendor": "zod",
                                                    "version": 1
                                                  },
                                                  "def": {
                                                    "type": "optional",
                                                    "innerType": {
                                                      "~standard": {
                                                        "vendor": "zod",
                                                        "version": 1
                                                      },
                                                      "def": {
                                                        "type": "nullable",
                                                        "innerType": {
                                                          "~standard": {
                                                            "vendor": "zod",
                                                            "version": 1
                                                          },
                                                          "def": {
                                                            "type": "enum",
                                                            "entries": {
                                                              "SingleUse": "single_use",
                                                              "ContinuousUse": "continuous_use",
                                                              "Boolean": "boolean",
                                                              "Static": "static"
                                                            }
                                                          },
                                                          "enum": {
                                                            "SingleUse": "single_use",
                                                            "ContinuousUse": "continuous_use",
                                                            "Boolean": "boolean",
                                                            "Static": "static"
                                                          },
                                                          "options": [
                                                            "single_use",
                                                            "continuous_use",
                                                            "boolean",
                                                            "static"
                                                          ]
                                                        }
                                                      }
                                                    }
                                                  }
                                                },
                                                "feature": {
                                                  "~standard": {
                                                    "vendor": "zod",
                                                    "version": 1
                                                  },
                                                  "def": {
                                                    "type": "optional",
                                                    "innerType": {
                                                      "~standard": {
                                                        "vendor": "zod",
                                                        "version": 1
                                                      },
                                                      "def": {
                                                        "type": "nullable",
                                                        "innerType": {
                                                          "~standard": {
                                                            "vendor": "zod",
                                                            "version": 1
                                                          },
                                                          "def": {
                                                            "type": "object",
                                                            "shape": {
                                                              "id": {
                                                                "~standard": {
                                                                  "vendor": "zod",
                                                                  "version": 1
                                                                },
                                                                "def": {
                                                                  "type": "string"
                                                                },
                                                                "format": null,
                                                                "minLength": null,
                                                                "maxLength": null
                                                              },
                                                              "name": {
                                                                "~standard": {
                                                                  "vendor": "zod",
                                                                  "version": 1
                                                                },
                                                                "def": {
                                                                  "type": "optional",
                                                                  "innerType": {
                                                                    "~standard": {
                                                                      "vendor": "zod",
                                                                      "version": 1
                                                                    },
                                                                    "def": {
                                                                      "type": "nullable",
                                                                      "innerType": {
                                                                        "~standard": {
                                                                          "vendor": "zod",
                                                                          "version": 1
                                                                        },
                                                                        "def": {
                                                                          "type": "string"
                                                                        },
                                                                        "format": null,
                                                                        "minLength": null,
                                                                        "maxLength": null
                                                                      }
                                                                    }
                                                                  }
                                                                }
                                                              },
                                                              "type": {
                                                                "~standard": {
                                                                  "vendor": "zod",
                                                                  "version": 1
                                                                },
                                                                "def": {
                                                                  "type": "enum",
                                                                  "entries": {
                                                                    "Boolean": "boolean",
                                                                    "SingleUsage": "single_use",
                                                                    "ContinuousUse": "continuous_use",
                                                                    "CreditSystem": "credit_system"
                                                                  }
                                                                },
                                                                "enum": {
                                                                  "Boolean": "boolean",
                                                                  "SingleUsage": "single_use",
                                                                  "ContinuousUse": "continuous_use",
                                                                  "CreditSystem": "credit_system"
                                                                },
                                                                "options": [
                                                                  "boolean",
                                                                  "single_use",
                                                                  "continuous_use",
                                                                  "credit_system"
                                                                ]
                                                              },
                                                              "display": {
                                                                "~standard": {
                                                                  "vendor": "zod",
                                                                  "version": 1
                                                                },
                                                                "def": {
                                                                  "type": "optional",
                                                                  "innerType": {
                                                                    "~standard": {
                                                                      "vendor": "zod",
                                                                      "version": 1
                                                                    },
                                                                    "def": {
                                                                      "type": "nullable",
                                                                      "innerType": {
                                                                        "~standard": {
                                                                          "vendor": "zod",
                                                                          "version": 1
                                                                        },
                                                                        "def": {
                                                                          "type": "object",
                                                                          "shape": {
                                                                            "singular": {
                                                                              "~standard": {
                                                                                "vendor": "zod",
                                                                                "version": 1
                                                                              },
                                                                              "def": {
                                                                                "type": "string"
                                                                              },
                                                                              "format": null,
                                                                              "minLength": null,
                                                                              "maxLength": null
                                                                            },
                                                                            "plural": {
                                                                              "~standard": {
                                                                                "vendor": "zod",
                                                                                "version": 1
                                                                              },
                                                                              "def": {
                                                                                "type": "string"
                                                                              },
                                                                              "format": null,
                                                                              "minLength": null,
                                                                              "maxLength": null
                                                                            }
                                                                          }
                                                                        }
                                                                      }
                                                                    }
                                                                  }
                                                                }
                                                              },
                                                              "credit_schema": {
                                                                "~standard": {
                                                                  "vendor": "zod",
                                                                  "version": 1
                                                                },
                                                                "def": {
                                                                  "type": "optional",
                                                                  "innerType": {
                                                                    "~standard": {
                                                                      "vendor": "zod",
                                                                      "version": 1
                                                                    },
                                                                    "def": {
                                                                      "type": "nullable",
                                                                      "innerType": {
                                                                        "~standard": {
                                                                          "vendor": "zod",
                                                                          "version": 1
                                                                        },
                                                                        "def": {
                                                                          "type": "array",
                                                                          "element": {
                                                                            "~standard": {
                                                                              "vendor": "zod",
                                                                              "version": 1
                                                                            },
                                                                            "def": {
                                                                              "type": "object",
                                                                              "shape": {
                                                                                "metered_feature_id": {
                                                                                  "~standard": {
                                                                                    "vendor": "zod",
                                                                                    "version": 1
                                                                                  },
                                                                                  "def": {
                                                                                    "type": "string"
                                                                                  },
[...]
